In [2]:
import pandas as pd
import numpy as np

In [3]:
reading2000 = pd.read_excel("../data/2000/reading2000.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])

In [4]:
reading2000

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,2000.0,Selected countries and jurisdictions,493.490987,0.690088
1,NaN,NaN,International Average (OECD),493.490987,0.690088
2,NaN,NaN,Australia,528.278505,3.522548
3,NaN,NaN,Austria,492.056007,2.692012
4,NaN,NaN,Belgium,507.12589,3.557848
5,NaN,NaN,Canada,534.312719,1.558731
6,NaN,NaN,Chile,409.556782,3.58574
7,NaN,NaN,Colombia,—,†
8,NaN,NaN,Czech Republic,491.577032,2.369811
9,NaN,NaN,Denmark,496.870966,2.352821
10,NaN,NaN,Estonia,—,†
11,NaN,NaN,Finland,546.469145,2.578209
12,NaN,NaN,France,504.742389,2.727941
13,NaN,NaN,Germany,483.990824,2.46509
14,NaN,NaN,Greece,473.798851,4.970149
15,NaN,NaN,Hungary,479.966778,3.953749
16,NaN,NaN,Iceland,506.930462,1.454048
17,NaN,NaN,Ireland,526.668649,3.237311
18,NaN,NaN,Israel,452.172404,8.467153
19,NaN,NaN,Italy,487.469645,2.913008
20,NaN,NaN,Japan,522.234929,5.209935
21,NaN,NaN,Korea,524.754299,2.416155
22,NaN,NaN,Latvia,458.071082,5.270447
23,NaN,NaN,Lithuania,—,†
24,NaN,NaN,Luxembourg,441.245823,1.594104
25,NaN,NaN,Mexico,421.96063,3.314585
26,NaN,NaN,Netherlands,‡,†
27,NaN,NaN,New Zealand,528.799732,2.784143
28,NaN,NaN,Norway,505.280989,2.801877
29,NaN,NaN,Poland,479.121688,4.455629
30,NaN,NaN,Portugal,470.154622,4.51771
31,NaN,NaN,Slovak Republic,—,†
32,NaN,NaN,Slovenia,—,†
33,NaN,NaN,Spain,492.552969,2.708463
34,NaN,NaN,Sweden,516.331186,2.203671
35,NaN,NaN,Switzerland,494.371619,4.246748
36,NaN,NaN,Turkey,—,†
37,NaN,NaN,United Kingdom,523.443304,2.561146
38,NaN,NaN,United States,504.419692,7.045375
39,NaN,NaN,NaN,NaN,NaN

In [5]:
reading2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
reading2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2000', 'Unnamed: 4': 'se_2000'}, axis=1, inplace=True)
reading2000

                               Countries    avg_2000   se_2000
0   Selected countries and jurisdictions  493.490987  0.690088
1           International Average (OECD)  493.490987  0.690088
2                              Australia  528.278505  3.522548
3                                Austria  492.056007  2.692012
4                                Belgium   507.12589  3.557848
5                                 Canada  534.312719  1.558731
6                                  Chile  409.556782   3.58574
7                               Colombia           —         †
8                         Czech Republic  491.577032  2.369811
9                                Denmark  496.870966  2.352821
10                               Estonia           —         †
11                               Finland  546.469145  2.578209
12                                France  504.742389  2.727941
13                               Germany  483.990824   2.46509
14                                Greece  473.798851  4.970149
15                               Hungary  479.966778  3.953749
16                               Iceland  506.930462  1.454048
17                               Ireland  526.668649  3.237311
18                                Israel  452.172404  8.467153
19                                 Italy  487.469645  2.913008
20                                 Japan  522.234929  5.209935
21                                 Korea  524.754299  2.416155
22                                Latvia  458.071082  5.270447
23                             Lithuania           —         †
24                            Luxembourg  441.245823  1.594104
25                                Mexico   421.96063  3.314585
26                           Netherlands           ‡         †
27                           New Zealand  528.799732  2.784143
28                                Norway  505.280989  2.801877
29                                Poland  479.121688  4.455629
30                              Portugal  470.154622   4.51771
31                       Slovak Republic           —         †
32                              Slovenia           —         †
33                                 Spain  492.552969  2.708463
34                                Sweden  516.331186  2.203671
35                           Switzerland  494.371619  4.246748
36                                Turkey           —         †
37                        United Kingdom  523.443304  2.561146
38                         United States  504.419692  7.045375
39                                   NaN         NaN       NaN

In [6]:
reading2003 = pd.read_excel("../data/2003/reading2003.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
reading2003

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,2003.0,Selected countries and jurisdictions,494.085966,0.554693
1,NaN,NaN,International Average (OECD),494.085966,0.554693
2,NaN,NaN,Australia,525.427007,2.126437
3,NaN,NaN,Austria,490.69324,3.758353
4,NaN,NaN,Belgium,506.987332,2.581749
5,NaN,NaN,Canada,527.913612,1.746668
6,NaN,NaN,Chile,—,†
7,NaN,NaN,Colombia,—,†
8,NaN,NaN,Czech Republic,488.542284,3.463202
9,NaN,NaN,Denmark,492.32338,2.817505
10,NaN,NaN,Estonia,—,†
11,NaN,NaN,Finland,543.462543,1.641643
12,NaN,NaN,France,496.188785,2.67784
13,NaN,NaN,Germany,491.357999,3.386351
14,NaN,NaN,Greece,472.266877,4.100576
15,NaN,NaN,Hungary,481.869695,2.468969
16,NaN,NaN,Iceland,491.74696,1.557973
17,NaN,NaN,Ireland,515.480077,2.625427
18,NaN,NaN,Israel,—,†
19,NaN,NaN,Italy,475.661581,3.044099
20,NaN,NaN,Japan,498.105206,3.923975
21,NaN,NaN,Korea,534.091265,3.092477
22,NaN,NaN,Latvia,490.562534,3.669192
23,NaN,NaN,Lithuania,—,†
24,NaN,NaN,Luxembourg,479.422584,1.484252
25,NaN,NaN,Mexico,399.721928,4.09229
26,NaN,NaN,Netherlands,513.118971,2.854338
27,NaN,NaN,New Zealand,521.55151,2.459216
28,NaN,NaN,Norway,499.740234,2.775934
29,NaN,NaN,Poland,496.605266,2.875085
30,NaN,NaN,Portugal,477.568646,3.732324
31,NaN,NaN,Slovak Republic,469.159033,3.122353
32,NaN,NaN,Slovenia,—,†
33,NaN,NaN,Spain,480.537991,2.601311
34,NaN,NaN,Sweden,514.267413,2.420946
35,NaN,NaN,Switzerland,499.121399,3.281278
36,NaN,NaN,Turkey,440.970989,5.787539
37,NaN,NaN,United Kingdom,507.012749,2.463892
38,NaN,NaN,United States,495.185865,3.221513
39,NaN,NaN,NaN,NaN,NaN

In [7]:
reading2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
reading2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2003', 'Unnamed: 4': 'se_2003'}, axis=1, inplace=True)
reading2003

                               Countries    avg_2003   se_2003
0   Selected countries and jurisdictions  494.085966  0.554693
1           International Average (OECD)  494.085966  0.554693
2                              Australia  525.427007  2.126437
3                                Austria   490.69324  3.758353
4                                Belgium  506.987332  2.581749
5                                 Canada  527.913612  1.746668
6                                  Chile           —         †
7                               Colombia           —         †
8                         Czech Republic  488.542284  3.463202
9                                Denmark   492.32338  2.817505
10                               Estonia           —         †
11                               Finland  543.462543  1.641643
12                                France  496.188785   2.67784
13                               Germany  491.357999  3.386351
14                                Greece  472.266877  4.100576
15                               Hungary  481.869695  2.468969
16                               Iceland   491.74696  1.557973
17                               Ireland  515.480077  2.625427
18                                Israel           —         †
19                                 Italy  475.661581  3.044099
20                                 Japan  498.105206  3.923975
21                                 Korea  534.091265  3.092477
22                                Latvia  490.562534  3.669192
23                             Lithuania           —         †
24                            Luxembourg  479.422584  1.484252
25                                Mexico  399.721928   4.09229
26                           Netherlands  513.118971  2.854338
27                           New Zealand   521.55151  2.459216
28                                Norway  499.740234  2.775934
29                                Poland  496.605266  2.875085
30                              Portugal  477.568646  3.732324
31                       Slovak Republic  469.159033  3.122353
32                              Slovenia           —         †
33                                 Spain  480.537991  2.601311
34                                Sweden  514.267413  2.420946
35                           Switzerland  499.121399  3.281278
36                                Turkey  440.970989  5.787539
37                        United Kingdom  507.012749  2.463892
38                         United States  495.185865  3.221513
39                                   NaN         NaN       NaN

In [8]:
reading2006 = pd.read_excel("../data/2006/reading2006.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
reading2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
reading2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2006', 'Unnamed: 4': 'se_2006'}, axis=1, inplace=True)
reading2006

                               Countries    avg_2006   se_2006
0   Selected countries and jurisdictions  485.353605  0.557573
1           International Average (OECD)  485.353605  0.557573
2                              Australia  512.893292  2.062032
3                                Austria  490.193977  4.080006
4                                Belgium  500.900595  3.041255
5                                 Canada  527.011296  2.438691
6                                  Chile  442.091346   4.99265
7                               Colombia  385.308038  5.082928
8                         Czech Republic  482.715162  4.181453
9                                Denmark  494.482981    3.1782
10                               Estonia  500.749762  2.926941
11                               Finland  546.868281   2.14719
12                                France  487.706247  4.064409
13                               Germany  494.944418  4.410095
14                                Greece  459.711185  4.043991
15                               Hungary  482.374517    3.2814
16                               Iceland  484.445272  1.945231
17                               Ireland  517.313238  3.536123
18                                Israel  438.672275  4.581361
19                                 Italy  468.523109  2.425591
20                                 Japan  497.957069  3.649621
21                                 Korea   556.02191  3.813041
22                                Latvia  479.491835  3.730737
23                             Lithuania  470.070756  2.983243
24                            Luxembourg  479.366542  1.281912
25                                Mexico  410.496455  3.059435
26                           Netherlands  506.746971  2.924694
27                           New Zealand  521.032645     2.991
28                                Norway  484.292563  3.182018
29                                Poland  507.639527  2.794752
30                              Portugal  472.304305  3.560561
31                       Slovak Republic  466.349769  3.055566
32                              Slovenia  494.409037  0.986617
33                                 Spain  460.830112  2.233555
34                                Sweden   507.31288  3.435657
35                           Switzerland  499.277784  3.061255
36                                Turkey  447.141132  4.205492
37                        United Kingdom   495.08351  2.255187
38                         United States           —         †
39                                   NaN         NaN       NaN

In [9]:
reading2009 = pd.read_excel("../data/2009/reading2009.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
reading2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
reading2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2009', 'Unnamed: 4': 'se_2009'}, axis=1, inplace=True)
reading2009

                               Countries    avg_2009   se_2009
0   Selected countries and jurisdictions  490.343792  0.468172
1           International Average (OECD)  490.343792  0.468172
2                              Australia  514.900655  2.337421
3                                Austria  470.283632  2.948082
4                                Belgium  505.945796  2.349760
5                                 Canada  524.241833  1.483177
6                                  Chile  449.369607  3.125474
7                               Colombia  413.181499  3.742594
8                         Czech Republic  478.186720  2.892121
9                                Denmark  494.916162  2.073917
10                               Estonia  500.961865  2.635480
11                               Finland  535.877985  2.253828
12                                France  495.616541  3.441868
13                               Germany  497.305058  2.655808
14                                Greece  482.776242  4.322152
15                               Hungary  494.178753  3.174748
16                               Iceland  500.283319  1.409376
17                               Ireland  495.639109  2.971904
18                                Israel  473.989951  3.633734
19                                 Italy  486.051099  1.572154
20                                 Japan  519.857722  3.465631
21                                 Korea  539.267484  3.460563
22                                Latvia  483.960145  2.957006
23                             Lithuania  468.442734  2.391073
24                            Luxembourg  472.173387  1.253416
25                                Mexico  425.265299  1.953202
26                           Netherlands  508.403723  5.149581
27                           New Zealand  520.880009  2.353263
28                                Norway  503.230020  2.580805
29                                Poland  500.478483  2.604839
30                              Portugal  489.334924  3.066859
31                       Slovak Republic  477.443352  2.543549
32                              Slovenia  483.082042  1.032020
33                                 Spain  481.042326  2.020057
34                                Sweden  497.449423  2.879652
35                           Switzerland  500.500212  2.443577
36                                Turkey  464.194375  3.520829
37                        United Kingdom  494.182010  2.280470
38                         United States  499.826821  3.653985
39                                   NaN         NaN       NaN

In [10]:
reading2012 = pd.read_excel("../data/2012/reading2012.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
reading2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
reading2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2012', 'Unnamed: 4': 'se_2012'}, axis=1, inplace=True)
reading2012

                               Countries    avg_2012   se_2012
0   Selected countries and jurisdictions  493.206974  0.482900
1           International Average (OECD)  493.206974  0.482900
2                              Australia  511.803998  1.576799
3                                Austria  489.609335  2.761191
4                                Belgium  508.617877  2.254063
5                                 Canada  523.124003  1.926378
6                                  Chile  441.398164  2.902103
7                               Colombia  403.402534  3.445585
8                         Czech Republic  492.889738  2.870684
9                                Denmark  496.130881  2.647817
10                               Estonia  516.294184  2.031621
11                               Finland  524.021670  2.381652
12                                France  505.481483  2.826389
13                               Germany  507.676530  2.816009
14                                Greece  477.197177  3.267452
15                               Hungary  488.461334  3.157090
16                               Iceland  482.522440  1.801098
17                               Ireland  523.173210  2.550366
18                                Israel  485.803213  5.006798
19                                 Italy  489.754403  1.971534
20                                 Japan  538.051485  3.673015
21                                 Korea  535.790490  3.941383
22                                Latvia  488.694414  2.385618
23                             Lithuania  477.306612  2.481189
24                            Luxembourg  487.807043  1.541812
25                                Mexico  423.553762  1.514223
26                           Netherlands  511.229965  3.469159
27                           New Zealand  512.186793  2.398174
28                                Norway  503.936686  3.215201
29                                Poland  518.186881  3.136387
30                              Portugal  487.757687  3.751111
31                       Slovak Republic  462.767033  4.171027
32                              Slovenia  481.316284  1.218205
33                                 Spain  487.939182  1.909008
34                                Sweden  483.335006  3.002694
35                           Switzerland  509.040250  2.565355
36                                Turkey  475.491466  4.214615
37                        United Kingdom  499.323115  3.499978
38                         United States  497.581718  3.743920
39                                   NaN         NaN       NaN

In [11]:
reading2015 = pd.read_excel("../data/2015/reading2015.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
reading2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
reading2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2015', 'Unnamed: 4': 'se_2015'}, axis=1, inplace=True)
reading2015

                               Countries    avg_2015   se_2015
0   Selected countries and jurisdictions  490.176312  0.452385
1           International Average (OECD)  490.176312  0.452385
2                              Australia  502.900560  1.690892
3                                Austria  484.865597  2.835278
4                                Belgium  498.524189  2.415706
5                                 Canada  526.667805  2.300940
6                                  Chile  458.570876  2.584878
7                               Colombia  424.905167  2.944688
8                         Czech Republic  487.250141  2.599707
9                                Denmark  499.814584  2.544547
10                               Estonia  519.142855  2.217688
11                               Finland  526.424747  2.546577
12                                France  499.306142  2.507020
13                               Germany  509.104139  3.018490
14                                Greece  467.039538  4.338697
15                               Hungary  469.523258  2.659055
16                               Iceland  481.525541  1.984964
17                               Ireland  520.814841  2.466055
18                                Israel  478.960643  3.776593
19                                 Italy  484.757996  2.681397
20                                 Japan  515.958480  3.197211
21                                 Korea  517.436710  3.504724
22                                Latvia  487.758099  1.802030
23                             Lithuania  472.406552  2.735929
24                            Luxembourg  481.439097  1.441445
25                                Mexico  423.276479  2.583614
26                           Netherlands  502.959051  2.411743
27                           New Zealand  509.270713  2.404679
28                                Norway  513.191173  2.509330
29                                Poland  505.697070  2.484753
30                              Portugal  498.128906  2.693560
31                       Slovak Republic  452.514337  2.828198
32                              Slovenia  505.215881  1.472902
33                                 Spain  495.576435  2.363763
34                                Sweden  500.155607  3.483400
35                           Switzerland  492.198229  3.031020
36                                Turkey  428.335093  3.964064
37                        United Kingdom  497.971931  2.769377
38                         United States  496.935097  3.407477
39                                   NaN         NaN       NaN

In [12]:
reading2018 = pd.read_excel("../data/2018/reading2018.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
reading2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
reading2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2018', 'Unnamed: 4': 'se_2018'}, axis=1, inplace=True)
reading2018

                               Countries    avg_2018   se_2018
0   Selected countries and jurisdictions  487.125995  0.414769
1           International Average (OECD)  487.125995  0.414769
2                              Australia  502.631724  1.634343
3                                Austria  484.392568  2.697472
4                                Belgium  492.864439  2.321973
5                                 Canada  520.085521  1.799716
6                                  Chile  452.272554  2.643766
7                               Colombia  412.295085  3.251344
8                         Czech Republic  490.218815  2.547851
9                                Denmark  501.129934  1.795458
10                               Estonia  523.017018  1.842242
11                               Finland  520.078748  2.307102
12                                France  492.606479  2.320979
13                               Germany  498.279257  3.025408
14                                Greece  457.414395     3.621
15                               Hungary  475.986672  2.250962
16                               Iceland  473.974317  1.741511
17                               Ireland  518.078459  2.244478
18                                Israel  470.415178  3.670985
19                                 Italy  476.284679   2.43891
20                                 Japan  503.856041  2.670974
21                                 Korea  514.052288  2.940543
22                                Latvia  478.698674  1.616856
23                             Lithuania   475.87348  1.518276
24                            Luxembourg  469.985389  1.125891
25                                Mexico  420.468892  2.746279
26                           Netherlands  484.783725  2.650864
27                           New Zealand  505.727283  2.043143
28                                Norway  499.450956  2.171849
29                                Poland  511.855695  2.702458
30                              Portugal  491.800785  2.428931
31                       Slovak Republic  457.983967  2.234129
32                              Slovenia  495.345615  1.232299
33                                 Spain           —         †
34                                Sweden   505.78522  3.024772
35                           Switzerland  483.929405  3.124322
36                                Turkey  465.631666  2.171214
37                        United Kingdom  503.928109  2.582591
38                         United States  505.352771  3.568673
39                                   NaN         NaN       NaN

In [13]:
reading = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(reading2000,reading2003,on='Countries'), reading2006, on='Countries'), reading2009, on='Countries'), reading2012, on='Countries'), reading2015, on='Countries'), reading2018, on='Countries')
reading

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,Selected countries and jurisdictions,493.490987,0.690088,494.085966,0.554693,485.353605,0.557573,490.343792,0.468172,493.206974,0.482900,490.176312,0.452385,487.125995,0.414769
1,International Average (OECD),493.490987,0.690088,494.085966,0.554693,485.353605,0.557573,490.343792,0.468172,493.206974,0.482900,490.176312,0.452385,487.125995,0.414769
2,Australia,528.278505,3.522548,525.427007,2.126437,512.893292,2.062032,514.900655,2.337421,511.803998,1.576799,502.900560,1.690892,502.631724,1.634343
3,Austria,492.056007,2.692012,490.69324,3.758353,490.193977,4.080006,470.283632,2.948082,489.609335,2.761191,484.865597,2.835278,484.392568,2.697472
4,Belgium,507.12589,3.557848,506.987332,2.581749,500.900595,3.041255,505.945796,2.349760,508.617877,2.254063,498.524189,2.415706,492.864439,2.321973
5,Canada,534.312719,1.558731,527.913612,1.746668,527.011296,2.438691,524.241833,1.483177,523.124003,1.926378,526.667805,2.300940,520.085521,1.799716
6,Chile,409.556782,3.58574,—,†,442.091346,4.99265,449.369607,3.125474,441.398164,2.902103,458.570876,2.584878,452.272554,2.643766
7,Colombia,—,†,—,†,385.308038,5.082928,413.181499,3.742594,403.402534,3.445585,424.905167,2.944688,412.295085,3.251344
8,Czech Republic,491.577032,2.369811,488.542284,3.463202,482.715162,4.181453,478.186720,2.892121,492.889738,2.870684,487.250141,2.599707,490.218815,2.547851
9,Denmark,496.870966,2.352821,492.32338,2.817505,494.482981,3.1782,494.916162,2.073917,496.130881,2.647817,499.814584,2.544547,501.129934,1.795458
10,Estonia,—,†,—,†,500.749762,2.926941,500.961865,2.635480,516.294184,2.031621,519.142855,2.217688,523.017018,1.842242
11,Finland,546.469145,2.578209,543.462543,1.641643,546.868281,2.14719,535.877985,2.253828,524.021670,2.381652,526.424747,2.546577,520.078748,2.307102
12,France,504.742389,2.727941,496.188785,2.67784,487.706247,4.064409,495.616541,3.441868,505.481483,2.826389,499.306142,2.507020,492.606479,2.320979
13,Germany,483.990824,2.46509,491.357999,3.386351,494.944418,4.410095,497.305058,2.655808,507.676530,2.816009,509.104139,3.018490,498.279257,3.025408
14,Greece,473.798851,4.970149,472.266877,4.100576,459.711185,4.043991,482.776242,4.322152,477.197177,3.267452,467.039538,4.338697,457.414395,3.621
15,Hungary,479.966778,3.953749,481.869695,2.468969,482.374517,3.2814,494.178753,3.174748,488.461334,3.157090,469.523258,2.659055,475.986672,2.250962
16,Iceland,506.930462,1.454048,491.74696,1.557973,484.445272,1.945231,500.283319,1.409376,482.522440,1.801098,481.525541,1.984964,473.974317,1.741511
17,Ireland,526.668649,3.237311,515.480077,2.625427,517.313238,3.536123,495.639109,2.971904,523.173210,2.550366,520.814841,2.466055,518.078459,2.244478
18,Israel,452.172404,8.467153,—,†,438.672275,4.581361,473.989951,3.633734,485.803213,5.006798,478.960643,3.776593,470.415178,3.670985
19,Italy,487.469645,2.913008,475.661581,3.044099,468.523109,2.425591,486.051099,1.572154,489.754403,1.971534,484.757996,2.681397,476.284679,2.43891
20,Japan,522.234929,5.209935,498.105206,3.923975,497.957069,3.649621,519.857722,3.465631,538.051485,3.673015,515.958480,3.197211,503.856041,2.670974
21,Korea,524.754299,2.416155,534.091265,3.092477,556.02191,3.813041,539.267484,3.460563,535.790490,3.941383,517.436710,3.504724,514.052288,2.940543
22,Latvia,458.071082,5.270447,490.562534,3.669192,479.491835,3.730737,483.960145,2.957006,488.694414,2.385618,487.758099,1.802030,478.698674,1.616856
23,Lithuania,—,†,—,†,470.070756,2.983243,468.442734,2.391073,477.306612,2.481189,472.406552,2.735929,475.87348,1.518276
24,Luxembourg,441.245823,1.594104,479.422584,1.484252,479.366542,1.281912,472.173387,1.253416,487.807043,1.541812,481.439097,1.441445,469.985389,1.125891
25,Mexico,421.96063,3.314585,399.721928,4.09229,410.496455,3.059435,425.265299,1.953202,423.553762,1.514223,423.276479,2.583614,420.468892,2.746279
26,Netherlands,‡,†,513.118971,2.854338,506.746971,2.924694,508.403723,5.149581,511.229965,3.469159,502.959051,2.411743,484.783725,2.650864
27,New Zealand,528.799732,2.784143,521.55151,2.459216,521.032645,2.991,520.880009,2.353263,512.186793,2.398174,509.270713,2.404679,505.727283,2.043143
28,Norway,505.280989,2.801877,499.740234,2.775934,484.292563,3.182018,503.230020,2.580805,503.936686,3.215201,513.191173,2.509330,499.450956,2.171849
29,Poland,479.121688,4.455629,496.605266,2.875085,507.639527,2.794752,500.478483,2.604839,518.186881,3.136387,505.697070,2.484753,511.855695,2.702458
30,Portugal,470.154622,4.51771,477.568646,3.732324,472.304305,3.560561,489.334924,3.066859,487.757687,3.751111,498.128906,2.693560,491.800785,2.428931
31,Slovak Republic,—,†,469.159033,3.122353,466.349769,3.055566,477.443352,2.543549,462.767033,4.171027,452.514337,2.828198,457.983967,2.234129
32,Slovenia,—,†,—,†,494.409037,0.986617,483.082042,1.032020,481.316284,1.218205,505.215881,1.472902,495.345615,1.232299
33,Spain,492.552969,2.708463,480.537991,2.601311,460.830112,2.233555,481.042326,2.020057,487.939182,1.909008,495.576435,2.363763,—,†
34,Sweden,516.331186,2.203671,514.267413,2.420946,507.31288,3.435657,497.449423,2.879652,483.335006,3.002694,500.155607,3.483400,505.78522,3.024772
35,Switzerland,494.371619,4.246748,499.121399,3.281278,499.277784,3.061255,500.500212,2.443577,509.040250,2.565355,492.198229,3.031020,483.929405,3.124322
36,Turkey,—,†,440.970989,5.787539,447.141132,4.205492,464.194375,3.520829,475.491466,4.214615,428.335093,3.964064,465.631666,2.171214
37,United Kingdom,523.443304,2.561146,507.012749,2.463892,495.08351,2.255187,494.182010,2.280470,499.323115,3.499978,497.971931,2.769377,503.928109,2.582591
38,United States,504.419692,7.045375,495.185865,3.221513,—,†,499.826821,3.653985,497.581718,3.743920,496.935097,3.407477,505.352771,3.568673
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
reading = reading.drop(index=[0,39])
reading

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
1,International Average (OECD),493.490987,0.690088,494.085966,0.554693,485.353605,0.557573,490.343792,0.468172,493.206974,0.482900,490.176312,0.452385,487.125995,0.414769
2,Australia,528.278505,3.522548,525.427007,2.126437,512.893292,2.062032,514.900655,2.337421,511.803998,1.576799,502.900560,1.690892,502.631724,1.634343
3,Austria,492.056007,2.692012,490.69324,3.758353,490.193977,4.080006,470.283632,2.948082,489.609335,2.761191,484.865597,2.835278,484.392568,2.697472
4,Belgium,507.12589,3.557848,506.987332,2.581749,500.900595,3.041255,505.945796,2.349760,508.617877,2.254063,498.524189,2.415706,492.864439,2.321973
5,Canada,534.312719,1.558731,527.913612,1.746668,527.011296,2.438691,524.241833,1.483177,523.124003,1.926378,526.667805,2.300940,520.085521,1.799716
6,Chile,409.556782,3.58574,—,†,442.091346,4.99265,449.369607,3.125474,441.398164,2.902103,458.570876,2.584878,452.272554,2.643766
7,Colombia,—,†,—,†,385.308038,5.082928,413.181499,3.742594,403.402534,3.445585,424.905167,2.944688,412.295085,3.251344
8,Czech Republic,491.577032,2.369811,488.542284,3.463202,482.715162,4.181453,478.186720,2.892121,492.889738,2.870684,487.250141,2.599707,490.218815,2.547851
9,Denmark,496.870966,2.352821,492.32338,2.817505,494.482981,3.1782,494.916162,2.073917,496.130881,2.647817,499.814584,2.544547,501.129934,1.795458
10,Estonia,—,†,—,†,500.749762,2.926941,500.961865,2.635480,516.294184,2.031621,519.142855,2.217688,523.017018,1.842242
11,Finland,546.469145,2.578209,543.462543,1.641643,546.868281,2.14719,535.877985,2.253828,524.021670,2.381652,526.424747,2.546577,520.078748,2.307102
12,France,504.742389,2.727941,496.188785,2.67784,487.706247,4.064409,495.616541,3.441868,505.481483,2.826389,499.306142,2.507020,492.606479,2.320979
13,Germany,483.990824,2.46509,491.357999,3.386351,494.944418,4.410095,497.305058,2.655808,507.676530,2.816009,509.104139,3.018490,498.279257,3.025408
14,Greece,473.798851,4.970149,472.266877,4.100576,459.711185,4.043991,482.776242,4.322152,477.197177,3.267452,467.039538,4.338697,457.414395,3.621
15,Hungary,479.966778,3.953749,481.869695,2.468969,482.374517,3.2814,494.178753,3.174748,488.461334,3.157090,469.523258,2.659055,475.986672,2.250962
16,Iceland,506.930462,1.454048,491.74696,1.557973,484.445272,1.945231,500.283319,1.409376,482.522440,1.801098,481.525541,1.984964,473.974317,1.741511
17,Ireland,526.668649,3.237311,515.480077,2.625427,517.313238,3.536123,495.639109,2.971904,523.173210,2.550366,520.814841,2.466055,518.078459,2.244478
18,Israel,452.172404,8.467153,—,†,438.672275,4.581361,473.989951,3.633734,485.803213,5.006798,478.960643,3.776593,470.415178,3.670985
19,Italy,487.469645,2.913008,475.661581,3.044099,468.523109,2.425591,486.051099,1.572154,489.754403,1.971534,484.757996,2.681397,476.284679,2.43891
20,Japan,522.234929,5.209935,498.105206,3.923975,497.957069,3.649621,519.857722,3.465631,538.051485,3.673015,515.958480,3.197211,503.856041,2.670974
21,Korea,524.754299,2.416155,534.091265,3.092477,556.02191,3.813041,539.267484,3.460563,535.790490,3.941383,517.436710,3.504724,514.052288,2.940543
22,Latvia,458.071082,5.270447,490.562534,3.669192,479.491835,3.730737,483.960145,2.957006,488.694414,2.385618,487.758099,1.802030,478.698674,1.616856
23,Lithuania,—,†,—,†,470.070756,2.983243,468.442734,2.391073,477.306612,2.481189,472.406552,2.735929,475.87348,1.518276
24,Luxembourg,441.245823,1.594104,479.422584,1.484252,479.366542,1.281912,472.173387,1.253416,487.807043,1.541812,481.439097,1.441445,469.985389,1.125891
25,Mexico,421.96063,3.314585,399.721928,4.09229,410.496455,3.059435,425.265299,1.953202,423.553762,1.514223,423.276479,2.583614,420.468892,2.746279
26,Netherlands,‡,†,513.118971,2.854338,506.746971,2.924694,508.403723,5.149581,511.229965,3.469159,502.959051,2.411743,484.783725,2.650864
27,New Zealand,528.799732,2.784143,521.55151,2.459216,521.032645,2.991,520.880009,2.353263,512.186793,2.398174,509.270713,2.404679,505.727283,2.043143
28,Norway,505.280989,2.801877,499.740234,2.775934,484.292563,3.182018,503.230020,2.580805,503.936686,3.215201,513.191173,2.509330,499.450956,2.171849
29,Poland,479.121688,4.455629,496.605266,2.875085,507.639527,2.794752,500.478483,2.604839,518.186881,3.136387,505.697070,2.484753,511.855695,2.702458
30,Portugal,470.154622,4.51771,477.568646,3.732324,472.304305,3.560561,489.334924,3.066859,487.757687,3.751111,498.128906,2.693560,491.800785,2.428931
31,Slovak Republic,—,†,469.159033,3.122353,466.349769,3.055566,477.443352,2.543549,462.767033,4.171027,452.514337,2.828198,457.983967,2.234129
32,Slovenia,—,†,—,†,494.409037,0.986617,483.082042,1.032020,481.316284,1.218205,505.215881,1.472902,495.345615,1.232299
33,Spain,492.552969,2.708463,480.537991,2.601311,460.830112,2.233555,481.042326,2.020057,487.939182,1.909008,495.576435,2.363763,—,†
34,Sweden,516.331186,2.203671,514.267413,2.420946,507.31288,3.435657,497.449423,2.879652,483.335006,3.002694,500.155607,3.483400,505.78522,3.024772
35,Switzerland,494.371619,4.246748,499.121399,3.281278,499.277784,3.061255,500.500212,2.443577,509.040250,2.565355,492.198229,3.031020,483.929405,3.124322
36,Turkey,—,†,440.970989,5.787539,447.141132,4.205492,464.194375,3.520829,475.491466,4.214615,428.335093,3.964064,465.631666,2.171214
37,United Kingdom,523.443304,2.561146,507.012749,2.463892,495.08351,2.255187,494.182010,2.280470,499.323115,3.499978,497.971931,2.769377,503.928109,2.582591
38,United States,504.419692,7.045375,495.185865,3.221513,—,†,499.826821,3.653985,497.581718,3.743920,496.935097,3.407477,505.352771,3.568673

In [15]:
#reading['rank_2000'] = reading['avg_2000'].rank(method='max')
#reading.drop(['rank_2000'], axis=1, inplace=True)

In [16]:
reading.dtypes

Countries     object
avg_2000      object
se_2000       object
avg_2003      object
se_2003       object
avg_2006      object
se_2006       object
avg_2009     float64
se_2009      float64
avg_2012     float64
se_2012      float64
avg_2015     float64
se_2015      float64
avg_2018      object
se_2018       object
dtype: object

In [17]:
readings = reading.replace('—',np.nan,regex = True)
readings = readings.replace('†',np.nan,regex = True)
readings = readings.replace('‡',np.nan,regex = True)
readings

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
1,International Average (OECD),493.490987,0.690088,494.085966,0.554693,485.353605,0.557573,490.343792,0.468172,493.206974,0.482900,490.176312,0.452385,487.125995,0.414769
2,Australia,528.278505,3.522548,525.427007,2.126437,512.893292,2.062032,514.900655,2.337421,511.803998,1.576799,502.900560,1.690892,502.631724,1.634343
3,Austria,492.056007,2.692012,490.693240,3.758353,490.193977,4.080006,470.283632,2.948082,489.609335,2.761191,484.865597,2.835278,484.392568,2.697472
4,Belgium,507.125890,3.557848,506.987332,2.581749,500.900595,3.041255,505.945796,2.349760,508.617877,2.254063,498.524189,2.415706,492.864439,2.321973
5,Canada,534.312719,1.558731,527.913612,1.746668,527.011296,2.438691,524.241833,1.483177,523.124003,1.926378,526.667805,2.300940,520.085521,1.799716
6,Chile,409.556782,3.585740,NaN,NaN,442.091346,4.992650,449.369607,3.125474,441.398164,2.902103,458.570876,2.584878,452.272554,2.643766
7,Colombia,NaN,NaN,NaN,NaN,385.308038,5.082928,413.181499,3.742594,403.402534,3.445585,424.905167,2.944688,412.295085,3.251344
8,Czech Republic,491.577032,2.369811,488.542284,3.463202,482.715162,4.181453,478.186720,2.892121,492.889738,2.870684,487.250141,2.599707,490.218815,2.547851
9,Denmark,496.870966,2.352821,492.323380,2.817505,494.482981,3.178200,494.916162,2.073917,496.130881,2.647817,499.814584,2.544547,501.129934,1.795458
10,Estonia,NaN,NaN,NaN,NaN,500.749762,2.926941,500.961865,2.635480,516.294184,2.031621,519.142855,2.217688,523.017018,1.842242
11,Finland,546.469145,2.578209,543.462543,1.641643,546.868281,2.147190,535.877985,2.253828,524.021670,2.381652,526.424747,2.546577,520.078748,2.307102
12,France,504.742389,2.727941,496.188785,2.677840,487.706247,4.064409,495.616541,3.441868,505.481483,2.826389,499.306142,2.507020,492.606479,2.320979
13,Germany,483.990824,2.465090,491.357999,3.386351,494.944418,4.410095,497.305058,2.655808,507.676530,2.816009,509.104139,3.018490,498.279257,3.025408
14,Greece,473.798851,4.970149,472.266877,4.100576,459.711185,4.043991,482.776242,4.322152,477.197177,3.267452,467.039538,4.338697,457.414395,3.621000
15,Hungary,479.966778,3.953749,481.869695,2.468969,482.374517,3.281400,494.178753,3.174748,488.461334,3.157090,469.523258,2.659055,475.986672,2.250962
16,Iceland,506.930462,1.454048,491.746960,1.557973,484.445272,1.945231,500.283319,1.409376,482.522440,1.801098,481.525541,1.984964,473.974317,1.741511
17,Ireland,526.668649,3.237311,515.480077,2.625427,517.313238,3.536123,495.639109,2.971904,523.173210,2.550366,520.814841,2.466055,518.078459,2.244478
18,Israel,452.172404,8.467153,NaN,NaN,438.672275,4.581361,473.989951,3.633734,485.803213,5.006798,478.960643,3.776593,470.415178,3.670985
19,Italy,487.469645,2.913008,475.661581,3.044099,468.523109,2.425591,486.051099,1.572154,489.754403,1.971534,484.757996,2.681397,476.284679,2.438910
20,Japan,522.234929,5.209935,498.105206,3.923975,497.957069,3.649621,519.857722,3.465631,538.051485,3.673015,515.958480,3.197211,503.856041,2.670974
21,Korea,524.754299,2.416155,534.091265,3.092477,556.021910,3.813041,539.267484,3.460563,535.790490,3.941383,517.436710,3.504724,514.052288,2.940543
22,Latvia,458.071082,5.270447,490.562534,3.669192,479.491835,3.730737,483.960145,2.957006,488.694414,2.385618,487.758099,1.802030,478.698674,1.616856
23,Lithuania,NaN,NaN,NaN,NaN,470.070756,2.983243,468.442734,2.391073,477.306612,2.481189,472.406552,2.735929,475.873480,1.518276
24,Luxembourg,441.245823,1.594104,479.422584,1.484252,479.366542,1.281912,472.173387,1.253416,487.807043,1.541812,481.439097,1.441445,469.985389,1.125891
25,Mexico,421.960630,3.314585,399.721928,4.092290,410.496455,3.059435,425.265299,1.953202,423.553762,1.514223,423.276479,2.583614,420.468892,2.746279
26,Netherlands,NaN,NaN,513.118971,2.854338,506.746971,2.924694,508.403723,5.149581,511.229965,3.469159,502.959051,2.411743,484.783725,2.650864
27,New Zealand,528.799732,2.784143,521.551510,2.459216,521.032645,2.991000,520.880009,2.353263,512.186793,2.398174,509.270713,2.404679,505.727283,2.043143
28,Norway,505.280989,2.801877,499.740234,2.775934,484.292563,3.182018,503.230020,2.580805,503.936686,3.215201,513.191173,2.509330,499.450956,2.171849
29,Poland,479.121688,4.455629,496.605266,2.875085,507.639527,2.794752,500.478483,2.604839,518.186881,3.136387,505.697070,2.484753,511.855695,2.702458
30,Portugal,470.154622,4.517710,477.568646,3.732324,472.304305,3.560561,489.334924,3.066859,487.757687,3.751111,498.128906,2.693560,491.800785,2.428931
31,Slovak Republic,NaN,NaN,469.159033,3.122353,466.349769,3.055566,477.443352,2.543549,462.767033,4.171027,452.514337,2.828198,457.983967,2.234129
32,Slovenia,NaN,NaN,NaN,NaN,494.409037,0.986617,483.082042,1.032020,481.316284,1.218205,505.215881,1.472902,495.345615,1.232299
33,Spain,492.552969,2.708463,480.537991,2.601311,460.830112,2.233555,481.042326,2.020057,487.939182,1.909008,495.576435,2.363763,NaN,NaN
34,Sweden,516.331186,2.203671,514.267413,2.420946,507.312880,3.435657,497.449423,2.879652,483.335006,3.002694,500.155607,3.483400,505.785220,3.024772
35,Switzerland,494.371619,4.246748,499.121399,3.281278,499.277784,3.061255,500.500212,2.443577,509.040250,2.565355,492.198229,3.031020,483.929405,3.124322
36,Turkey,NaN,NaN,440.970989,5.787539,447.141132,4.205492,464.194375,3.520829,475.491466,4.214615,428.335093,3.964064,465.631666,2.171214
37,United Kingdom,523.443304,2.561146,507.012749,2.463892,495.083510,2.255187,494.182010,2.280470,499.323115,3.499978,497.971931,2.769377,503.928109,2.582591
38,United States,504.419692,7.045375,495.185865,3.221513,NaN,NaN,499.826821,3.653985,497.581718,3.743920,496.935097,3.407477,505.352771,3.568673

In [18]:
readings.dtypes

Countries     object
avg_2000     float64
se_2000      float64
avg_2003     float64
se_2003      float64
avg_2006     float64
se_2006      float64
avg_2009     float64
se_2009      float64
avg_2012     float64
se_2012      float64
avg_2015     float64
se_2015      float64
avg_2018     float64
se_2018      float64
dtype: object

In [19]:
readings['rank_2000'] = readings['avg_2000'].rank(method='max')
readings

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018,rank_2000
1,International Average (OECD),493.490987,0.690088,494.085966,0.554693,485.353605,0.557573,490.343792,0.468172,493.206974,0.482900,490.176312,0.452385,487.125995,0.414769,15.0
2,Australia,528.278505,3.522548,525.427007,2.126437,512.893292,2.062032,514.900655,2.337421,511.803998,1.576799,502.900560,1.690892,502.631724,1.634343,28.0
3,Austria,492.056007,2.692012,490.693240,3.758353,490.193977,4.080006,470.283632,2.948082,489.609335,2.761191,484.865597,2.835278,484.392568,2.697472,13.0
4,Belgium,507.125890,3.557848,506.987332,2.581749,500.900595,3.041255,505.945796,2.349760,508.617877,2.254063,498.524189,2.415706,492.864439,2.321973,22.0
5,Canada,534.312719,1.558731,527.913612,1.746668,527.011296,2.438691,524.241833,1.483177,523.124003,1.926378,526.667805,2.300940,520.085521,1.799716,30.0
6,Chile,409.556782,3.585740,NaN,NaN,442.091346,4.992650,449.369607,3.125474,441.398164,2.902103,458.570876,2.584878,452.272554,2.643766,1.0
7,Colombia,NaN,NaN,NaN,NaN,385.308038,5.082928,413.181499,3.742594,403.402534,3.445585,424.905167,2.944688,412.295085,3.251344,NaN
8,Czech Republic,491.577032,2.369811,488.542284,3.463202,482.715162,4.181453,478.186720,2.892121,492.889738,2.870684,487.250141,2.599707,490.218815,2.547851,12.0
9,Denmark,496.870966,2.352821,492.323380,2.817505,494.482981,3.178200,494.916162,2.073917,496.130881,2.647817,499.814584,2.544547,501.129934,1.795458,17.0
10,Estonia,NaN,NaN,NaN,NaN,500.749762,2.926941,500.961865,2.635480,516.294184,2.031621,519.142855,2.217688,523.017018,1.842242,NaN
11,Finland,546.469145,2.578209,543.462543,1.641643,546.868281,2.147190,535.877985,2.253828,524.021670,2.381652,526.424747,2.546577,520.078748,2.307102,31.0
12,France,504.742389,2.727941,496.188785,2.677840,487.706247,4.064409,495.616541,3.441868,505.481483,2.826389,499.306142,2.507020,492.606479,2.320979,19.0
13,Germany,483.990824,2.465090,491.357999,3.386351,494.944418,4.410095,497.305058,2.655808,507.676530,2.816009,509.104139,3.018490,498.279257,3.025408,10.0
14,Greece,473.798851,4.970149,472.266877,4.100576,459.711185,4.043991,482.776242,4.322152,477.197177,3.267452,467.039538,4.338697,457.414395,3.621000,7.0
15,Hungary,479.966778,3.953749,481.869695,2.468969,482.374517,3.281400,494.178753,3.174748,488.461334,3.157090,469.523258,2.659055,475.986672,2.250962,9.0
16,Iceland,506.930462,1.454048,491.746960,1.557973,484.445272,1.945231,500.283319,1.409376,482.522440,1.801098,481.525541,1.984964,473.974317,1.741511,21.0
17,Ireland,526.668649,3.237311,515.480077,2.625427,517.313238,3.536123,495.639109,2.971904,523.173210,2.550366,520.814841,2.466055,518.078459,2.244478,27.0
18,Israel,452.172404,8.467153,NaN,NaN,438.672275,4.581361,473.989951,3.633734,485.803213,5.006798,478.960643,3.776593,470.415178,3.670985,4.0
19,Italy,487.469645,2.913008,475.661581,3.044099,468.523109,2.425591,486.051099,1.572154,489.754403,1.971534,484.757996,2.681397,476.284679,2.438910,11.0
20,Japan,522.234929,5.209935,498.105206,3.923975,497.957069,3.649621,519.857722,3.465631,538.051485,3.673015,515.958480,3.197211,503.856041,2.670974,24.0
21,Korea,524.754299,2.416155,534.091265,3.092477,556.021910,3.813041,539.267484,3.460563,535.790490,3.941383,517.436710,3.504724,514.052288,2.940543,26.0
22,Latvia,458.071082,5.270447,490.562534,3.669192,479.491835,3.730737,483.960145,2.957006,488.694414,2.385618,487.758099,1.802030,478.698674,1.616856,5.0
23,Lithuania,NaN,NaN,NaN,NaN,470.070756,2.983243,468.442734,2.391073,477.306612,2.481189,472.406552,2.735929,475.873480,1.518276,NaN
24,Luxembourg,441.245823,1.594104,479.422584,1.484252,479.366542,1.281912,472.173387,1.253416,487.807043,1.541812,481.439097,1.441445,469.985389,1.125891,3.0
25,Mexico,421.960630,3.314585,399.721928,4.092290,410.496455,3.059435,425.265299,1.953202,423.553762,1.514223,423.276479,2.583614,420.468892,2.746279,2.0
26,Netherlands,NaN,NaN,513.118971,2.854338,506.746971,2.924694,508.403723,5.149581,511.229965,3.469159,502.959051,2.411743,484.783725,2.650864,NaN
27,New Zealand,528.799732,2.784143,521.551510,2.459216,521.032645,2.991000,520.880009,2.353263,512.186793,2.398174,509.270713,2.404679,505.727283,2.043143,29.0
28,Norway,505.280989,2.801877,499.740234,2.775934,484.292563,3.182018,503.230020,2.580805,503.936686,3.215201,513.191173,2.509330,499.450956,2.171849,20.0
29,Poland,479.121688,4.455629,496.605266,2.875085,507.639527,2.794752,500.478483,2.604839,518.186881,3.136387,505.697070,2.484753,511.855695,2.702458,8.0
30,Portugal,470.154622,4.517710,477.568646,3.732324,472.304305,3.560561,489.334924,3.066859,487.757687,3.751111,498.128906,2.693560,491.800785,2.428931,6.0
31,Slovak Republic,NaN,NaN,469.159033,3.122353,466.349769,3.055566,477.443352,2.543549,462.767033,4.171027,452.514337,2.828198,457.983967,2.234129,NaN
32,Slovenia,NaN,NaN,NaN,NaN,494.409037,0.986617,483.082042,1.032020,481.316284,1.218205,505.215881,1.472902,495.345615,1.232299,NaN
33,Spain,492.552969,2.708463,480.537991,2.601311,460.830112,2.233555,481.042326,2.020057,487.939182,1.909008,495.576435,2.363763,NaN,NaN,14.0
34,Sweden,516.331186,2.203671,514.267413,2.420946,507.312880,3.435657,497.449423,2.879652,483.335006,3.002694,500.155607,3.483400,505.785220,3.024772,23.0
35,Switzerland,494.371619,4.246748,499.121399,3.281278,499.277784,3.061255,500.500212,2.443577,509.040250,2.565355,492.198229,3.031020,483.929405,3.124322,16.0
36,Turkey,NaN,NaN,440.970989,5.787539,447.141132,4.205492,464.194375,3.520829,475.491466,4.214615,428.335093,3.964064,465.631666,2.171214,NaN
37,United Kingdom,523.443304,2.561146,507.012749,2.463892,495.083510,2.255187,494.182010,2.280470,499.323115,3.499978,497.971931,2.769377,503.928109,2.582591,25.0
38,United States,504.419692,7.045375,495.185865,3.221513,NaN,NaN,499.826821,3.653985,497.581718,3.743920,496.935097,3.407477,505.352771,3.568673,18.0

In [20]:
readings['rank_2003'] = readings['avg_2003'].rank(method='max')
readings['rank_2006'] = readings['avg_2006'].rank(method='max')
readings['rank_2009'] = readings['avg_2009'].rank(method='max')
readings['rank_2012'] = readings['avg_2012'].rank(method='max')
readings['rank_2015'] = readings['avg_2015'].rank(method='max')
readings['rank_2018'] = readings['avg_2018'].rank(method='max')
readings

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,...,se_2015,avg_2018,se_2018,rank_2000,rank_2003,rank_2006,rank_2009,rank_2012,rank_2015,rank_2018
1,International Average (OECD),493.490987,0.690088,494.085966,0.554693,485.353605,0.557573,490.343792,0.468172,493.206974,...,0.452385,487.125995,0.414769,15.0,16.0,18.0,17.0,20.0,16.0,17.0
2,Australia,528.278505,3.522548,525.427007,2.126437,512.893292,2.062032,514.900655,2.337421,511.803998,...,1.690892,502.631724,1.634343,28.0,29.0,32.0,33.0,30.0,26.0,26.0
3,Austria,492.056007,2.692012,490.693240,3.758353,490.193977,4.080006,470.283632,2.948082,489.609335,...,2.835278,484.392568,2.697472,13.0,12.0,20.0,6.0,17.0,13.0,15.0
4,Belgium,507.125890,3.557848,506.987332,2.581749,500.900595,3.041255,505.945796,2.349760,508.617877,...,2.415706,492.864439,2.321973,22.0,23.0,28.0,31.0,27.0,22.0,21.0
5,Canada,534.312719,1.558731,527.913612,1.746668,527.011296,2.438691,524.241833,1.483177,523.124003,...,2.300940,520.085521,1.799716,30.0,30.0,35.0,36.0,34.0,38.0,36.0
6,Chile,409.556782,3.585740,NaN,NaN,442.091346,4.992650,449.369607,3.125474,441.398164,...,2.584878,452.272554,2.643766,1.0,NaN,4.0,3.0,3.0,5.0,3.0
7,Colombia,NaN,NaN,NaN,NaN,385.308038,5.082928,413.181499,3.742594,403.402534,...,2.944688,412.295085,3.251344,NaN,NaN,1.0,1.0,1.0,2.0,1.0
8,Czech Republic,491.577032,2.369811,488.542284,3.463202,482.715162,4.181453,478.186720,2.892121,492.889738,...,2.599707,490.218815,2.547851,12.0,10.0,15.0,10.0,19.0,14.0,18.0
9,Denmark,496.870966,2.352821,492.323380,2.817505,494.482981,3.178200,494.916162,2.073917,496.130881,...,2.544547,501.129934,1.795458,17.0,15.0,22.0,20.0,21.0,24.0,25.0
10,Estonia,NaN,NaN,NaN,NaN,500.749762,2.926941,500.961865,2.635480,516.294184,...,2.217688,523.017018,1.842242,NaN,NaN,27.0,29.0,32.0,35.0,37.0
11,Finland,546.469145,2.578209,543.462543,1.641643,546.868281,2.147190,535.877985,2.253828,524.021670,...,2.546577,520.078748,2.307102,31.0,32.0,36.0,37.0,36.0,37.0,35.0
12,France,504.742389,2.727941,496.188785,2.677840,487.706247,4.064409,495.616541,3.441868,505.481483,...,2.507020,492.606479,2.320979,19.0,18.0,19.0,21.0,25.0,23.0,20.0
13,Germany,483.990824,2.465090,491.357999,3.386351,494.944418,4.410095,497.305058,2.655808,507.676530,...,3.018490,498.279257,3.025408,10.0,13.0,23.0,23.0,26.0,30.0,23.0
14,Greece,473.798851,4.970149,472.266877,4.100576,459.711185,4.043991,482.776242,4.322152,477.197177,...,4.338697,457.414395,3.621000,7.0,4.0,6.0,12.0,6.0,6.0,4.0
15,Hungary,479.966778,3.953749,481.869695,2.468969,482.374517,3.281400,494.178753,3.174748,488.461334,...,2.659055,475.986672,2.250962,9.0,9.0,14.0,18.0,15.0,7.0,11.0
16,Iceland,506.930462,1.454048,491.746960,1.557973,484.445272,1.945231,500.283319,1.409376,482.522440,...,1.984964,473.974317,1.741511,21.0,14.0,17.0,26.0,9.0,11.0,9.0
17,Ireland,526.668649,3.237311,515.480077,2.625427,517.313238,3.536123,495.639109,2.971904,523.173210,...,2.466055,518.078459,2.244478,27.0,27.0,33.0,22.0,35.0,36.0,34.0
18,Israel,452.172404,8.467153,NaN,NaN,438.672275,4.581361,473.989951,3.633734,485.803213,...,3.776593,470.415178,3.670985,4.0,NaN,3.0,8.0,11.0,9.0,8.0
19,Italy,487.469645,2.913008,475.661581,3.044099,468.523109,2.425591,486.051099,1.572154,489.754403,...,2.681397,476.284679,2.438910,11.0,5.0,9.0,15.0,18.0,12.0,12.0
20,Japan,522.234929,5.209935,498.105206,3.923975,497.957069,3.649621,519.857722,3.465631,538.051485,...,3.197211,503.856041,2.670974,24.0,20.0,25.0,34.0,38.0,33.0,27.0
21,Korea,524.754299,2.416155,534.091265,3.092477,556.021910,3.813041,539.267484,3.460563,535.790490,...,3.504724,514.052288,2.940543,26.0,31.0,37.0,38.0,37.0,34.0,33.0
22,Latvia,458.071082,5.270447,490.562534,3.669192,479.491835,3.730737,483.960145,2.957006,488.694414,...,1.802030,478.698674,1.616856,5.0,11.0,13.0,14.0,16.0,15.0,13.0
23,Lithuania,NaN,NaN,NaN,NaN,470.070756,2.983243,468.442734,2.391073,477.306612,...,2.735929,475.873480,1.518276,NaN,NaN,10.0,5.0,7.0,8.0,10.0
24,Luxembourg,441.245823,1.594104,479.422584,1.484252,479.366542,1.281912,472.173387,1.253416,487.807043,...,1.441445,469.985389,1.125891,3.0,7.0,12.0,7.0,13.0,10.0,7.0
25,Mexico,421.960630,3.314585,399.721928,4.092290,410.496455,3.059435,425.265299,1.953202,423.553762,...,2.583614,420.468892,2.746279,2.0,1.0,2.0,2.0,2.0,1.0,2.0
26,Netherlands,NaN,NaN,513.118971,2.854338,506.746971,2.924694,508.403723,5.149581,511.229965,...,2.411743,484.783725,2.650864,NaN,25.0,29.0,32.0,29.0,27.0,16.0
27,New Zealand,528.799732,2.784143,521.551510,2.459216,521.032645,2.991000,520.880009,2.353263,512.186793,...,2.404679,505.727283,2.043143,29.0,28.0,34.0,35.0,31.0,31.0,30.0
28,Norway,505.280989,2.801877,499.740234,2.775934,484.292563,3.182018,503.230020,2.580805,503.936686,...,2.509330,499.450956,2.171849,20.0,22.0,16.0,30.0,24.0,32.0,24.0
29,Poland,479.121688,4.455629,496.605266,2.875085,507.639527,2.794752,500.478483,2.604839,518.186881,...,2.484753,511.855695,2.702458,8.0,19.0,31.0,27.0,33.0,29.0,32.0
30,Portugal,470.154622,4.517710,477.568646,3.732324,472.304305,3.560561,489.334924,3.066859,487.757687,...,2.693560,491.800785,2.428931,6.0,6.0,11.0,16.0,12.0,21.0,19.0
31,Slovak Republic,NaN,NaN,469.159033,3.122353,466.349769,3.055566,477.443352,2.543549,462.767033,...,2.828198,457.983967,2.234129,NaN,3.0,8.0,9.0,4.0,4.0,5.0
32,Slovenia,NaN,NaN,NaN,NaN,494.409037,0.986617,483.082042,1.032020,481.316284,...,1.472902,495.345615,1.232299,NaN,NaN,21.0,13.0,8.0,28.0,22.0
33,Spain,492.552969,2.708463,480.537991,2.601311,460.830112,2.233555,481.042326,2.020057,487.939182,...,2.363763,NaN,NaN,14.0,8.0,7.0,11.0,14.0,18.0,NaN
34,Sweden,516.331186,2.203671,514.267413,2.420946,507.312880,3.435657,497.449423,2.879652,483.335006,...,3.483400,505.785220,3.024772,23.0,26.0,30.0,24.0,10.0,25.0,31.0
35,Switzerland,494.371619,4.246748,499.121399,3.281278,499.277784,3.061255,500.500212,2.443577,509.040250,...,3.031020,483.929405,3.124322,16.0,21.0,26.0,28.0,28.0,17.0,14.0
36,Turkey,NaN,NaN,440.970989,5.787539,447.141132,4.205492,464.194375,3.520829,475.491466,...,3.964064,465.631666,2.171214,NaN,2.0,5.0,4.0,5.0,3.0,6.0
37,United Kingdom,523.443304,2.561146,507.012749,2.463892,495.083510,2.255187,494.182010,2.280470,499.323115,...,2.769377,503.928109,2.582591,25.0,24.0,24.0,19.0,23.0,20.0,28.0
38,United States,504.419692,7.045375,495.185865,3.221513,NaN,NaN,499.826821,3.653985,497.581718,...,3.407477,505.352771,3.568673,18.0,17.0,NaN,25.0,22.0,19.0,29.0

In [21]:
readings.to_excel('Trends.xlsx', sheet_name='Reading')

In [22]:
math2000 = pd.read_excel("../data/2000/math2000.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2000

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,2000,International Average (OECD),—,†
1,NaN,NaN,Australia,—,†
2,NaN,NaN,Austria,—,†
3,NaN,NaN,Belgium,—,†
4,NaN,NaN,Canada,—,†
5,NaN,NaN,Chile,—,†
6,NaN,NaN,Colombia,—,†
7,NaN,NaN,Czech Republic,—,†
8,NaN,NaN,Denmark,—,†
9,NaN,NaN,Estonia,—,†
10,NaN,NaN,Finland,—,†
11,NaN,NaN,France,—,†
12,NaN,NaN,Germany,—,†
13,NaN,NaN,Greece,—,†
14,NaN,NaN,Hungary,—,†
15,NaN,NaN,Iceland,—,†
16,NaN,NaN,Ireland,—,†
17,NaN,NaN,Israel,—,†
18,NaN,NaN,Italy,—,†
19,NaN,NaN,Japan,—,†
20,NaN,NaN,Korea,—,†
21,NaN,NaN,Latvia,—,†
22,NaN,NaN,Lithuania,—,†
23,NaN,NaN,Luxembourg,—,†
24,NaN,NaN,Mexico,—,†
25,NaN,NaN,Netherlands,—,†
26,NaN,NaN,New Zealand,—,†
27,NaN,NaN,Norway,—,†
28,NaN,NaN,Poland,—,†
29,NaN,NaN,Portugal,—,†
30,NaN,NaN,Slovak Republic,—,†
31,NaN,NaN,Slovenia,—,†
32,NaN,NaN,Spain,—,†
33,NaN,NaN,Sweden,—,†
34,NaN,NaN,Switzerland,—,†
35,NaN,NaN,Turkey,—,†
36,NaN,NaN,United Kingdom,—,†
37,NaN,NaN,United States,—,†
38,NaN,NaN,NaN,NaN,NaN
39,NaN,— Not available.,NaN,NaN,NaN

In [23]:
math2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2000', 'Unnamed: 4': 'se_2000'}, axis=1, inplace=True)
math2000 = math2000.drop(index=[38,39])
math2000

                       Countries avg_2000 se_2000
0   International Average (OECD)        —       †
1                      Australia        —       †
2                        Austria        —       †
3                        Belgium        —       †
4                         Canada        —       †
5                          Chile        —       †
6                       Colombia        —       †
7                 Czech Republic        —       †
8                        Denmark        —       †
9                        Estonia        —       †
10                       Finland        —       †
11                        France        —       †
12                       Germany        —       †
13                        Greece        —       †
14                       Hungary        —       †
15                       Iceland        —       †
16                       Ireland        —       †
17                        Israel        —       †
18                         Italy        —       †
19                         Japan        —       †
20                         Korea        —       †
21                        Latvia        —       †
22                     Lithuania        —       †
23                    Luxembourg        —       †
24                        Mexico        —       †
25                   Netherlands        —       †
26                   New Zealand        —       †
27                        Norway        —       †
28                        Poland        —       †
29                      Portugal        —       †
30               Slovak Republic        —       †
31                      Slovenia        —       †
32                         Spain        —       †
33                        Sweden        —       †
34                   Switzerland        —       †
35                        Turkey        —       †
36                United Kingdom        —       †
37                 United States        —       †

In [24]:
math2003 = pd.read_excel("../data/2003/math2003.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2003', 'Unnamed: 4': 'se_2003'}, axis=1, inplace=True)
math2003 = math2003.drop(index=[38,39])
math2003

                       Countries    avg_2003   se_2003
0   International Average (OECD)  499.463525  0.552362
1                      Australia  524.266004  2.148447
2                        Austria  505.610984  3.266191
3                        Belgium  529.286415  2.286061
4                         Canada  532.486736  1.817917
5                          Chile           —         †
6                       Colombia           —         †
7                 Czech Republic  516.455001  3.545588
8                        Denmark  514.287675  2.743728
9                        Estonia           —         †
10                       Finland  544.289187  1.866273
11                        France  510.799473  2.503496
12                       Germany  502.985533  3.317209
13                        Greece  444.911863  3.900775
14                       Hungary  490.012392  2.837591
15                       Iceland   515.10865  1.423421
16                       Ireland   502.83732  2.448121
17                        Israel           —         †
18                         Italy   465.66421  3.075031
19                         Japan  534.136502  4.015724
20                         Korea   542.22737  3.238246
21                        Latvia  483.374949  3.687353
22                     Lithuania           —         †
23                    Luxembourg  493.208557  0.971641
24                        Mexico  385.218339  3.643326
25                   Netherlands  537.823276  3.130174
26                   New Zealand  523.486585  2.256883
27                        Norway   495.18539  2.376441
28                        Poland  490.238776  2.504114
29                      Portugal  466.016695  3.404636
30               Slovak Republic  498.183456  3.347527
31                      Slovenia           —         †
32                         Spain  485.108056  2.409297
33                        Sweden  509.046449  2.558786
34                   Switzerland  526.553148  3.383037
35                        Turkey   423.41941  6.736231
36                United Kingdom  508.258082  2.426686
37                 United States  482.882789  2.948952

In [25]:
math2006 = pd.read_excel("../data/2006/math2006.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2006', 'Unnamed: 4': 'se_2006'}, axis=1, inplace=True)
math2006 = math2006.drop(index=[38,39])
math2006

                       Countries    avg_2006   se_2006
0   International Average (OECD)  490.407608  0.497568
1                      Australia  519.907749  2.240618
2                        Austria  505.483598  3.737765
3                        Belgium  520.348973  2.954633
4                         Canada  527.007179  1.966896
5                          Chile  411.350339  4.581360
6                       Colombia  369.978514  3.783369
7                 Czech Republic  509.859359  3.551094
8                        Denmark  513.025950  2.616959
9                        Estonia  514.575462  2.745226
10                       Finland  548.358395  2.295555
11                        France  495.538333  3.170834
12                       Germany  503.790858  3.868244
13                        Greece  459.201987  2.968196
14                       Hungary  490.937383  2.885215
15                       Iceland  505.544828  1.806656
16                       Ireland  501.471771  2.785221
17                        Israel  441.858728  4.345732
18                         Italy  461.688721  2.282458
19                         Japan  523.102515  3.341509
20                         Korea  547.458479  3.761154
21                        Latvia  486.166083  3.027108
22                     Lithuania  486.421335  2.925270
23                    Luxembourg  490.001840  1.065574
24                        Mexico  405.654640  2.926041
25                   Netherlands  530.654046  2.585670
26                   New Zealand  521.988849  2.389559
27                        Norway  489.846353  2.640756
28                        Poland  495.428497  2.441732
29                      Portugal  466.160986  3.068536
30               Slovak Republic  492.106238  2.823507
31                      Slovenia  504.455964  1.042794
32                         Spain  479.957507  2.334433
33                        Sweden  502.356398  2.407671
34                   Switzerland  529.656147  3.153445
35                        Turkey  423.941190  4.901046
36                United Kingdom  495.444158  2.142734
37                 United States  474.352158  4.020512

In [26]:
math2009 = pd.read_excel("../data/2009/math2009.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2009', 'Unnamed: 4': 'se_2009'}, axis=1, inplace=True)
math2009 = math2009.drop(index=[38,39])
math2009

                       Countries    avg_2009   se_2009
0   International Average (OECD)  491.718580  0.472636
1                      Australia  514.340462  2.528262
2                        Austria  495.908655  2.657693
3                        Belgium  515.272277  2.254316
4                         Canada  526.805153  1.613570
5                          Chile  421.060473  3.059392
6                       Colombia  380.848215  3.240893
7                 Czech Republic  492.814094  2.830126
8                        Denmark  503.278147  2.602720
9                        Estonia  512.104197  2.565601
10                       Finland  540.504348  2.166539
11                        France  496.782310  3.093571
12                       Germany  512.777643  2.863064
13                        Greece  466.096373  3.879698
14                       Hungary  490.170028  3.451042
15                       Iceland  506.669164  1.389789
16                       Ireland  487.136375  2.544066
17                        Israel  446.863764  3.278216
18                         Italy  482.908480  1.855858
19                         Japan  528.993093  3.328205
20                         Korea  546.228534  4.015360
21                        Latvia  481.953822  3.067149
22                     Lithuania  476.602303  2.616653
23                    Luxembourg  489.067263  1.179351
24                        Mexico  418.509095  1.825909
25                   Netherlands  525.835688  4.745358
26                   New Zealand  519.300872  2.311987
27                        Norway  497.955693  2.397252
28                        Poland  494.802918  2.838240
29                      Portugal  486.888306  2.914903
30               Slovak Republic  496.683420  3.082462
31                      Slovenia  501.472389  1.225067
32                         Spain  483.493140  2.108512
33                        Sweden  494.238175  2.898874
34                   Switzerland  533.960645  3.297682
35                        Turkey  445.451340  4.441255
36                United Kingdom  492.414078  2.420443
37                 United States  487.396521  3.574074

In [27]:
math2012 = pd.read_excel("../data/2012/math2012.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2012', 'Unnamed: 4': 'se_2012'}, axis=1, inplace=True)
math2012 = math2012.drop(index=[38,39])
math2012

                       Countries    avg_2012   se_2012
0   International Average (OECD)  490.357783  0.470671
1                      Australia  504.150766  1.643078
2                        Austria  505.540743  2.668064
3                        Belgium  514.529245  2.144891
4                         Canada  518.070400  1.841355
5                          Chile  422.632356  3.067258
6                       Colombia  376.488601  2.886744
7                 Czech Republic  498.957882  2.852470
8                        Denmark  500.026757  2.294648
9                        Estonia  520.545522  2.021166
10                       Finland  518.750335  1.940750
11                        France  494.984674  2.454806
12                       Germany  513.525056  2.876525
13                        Greece  452.973427  2.502051
14                       Hungary  477.044455  3.192857
15                       Iceland  492.795698  1.702383
16                       Ireland  501.497460  2.247598
17                        Israel  466.481430  4.682108
18                         Italy  485.321181  2.025222
19                         Japan  536.406919  3.587147
20                         Korea  553.766659  4.579161
21                        Latvia  490.571022  2.752232
22                     Lithuania  478.823277  2.640951
23                    Luxembourg  489.845098  1.094547
24                        Mexico  413.281467  1.352811
25                   Netherlands  522.971758  3.471983
26                   New Zealand  499.749903  2.205382
27                        Norway  489.373070  2.733848
28                        Poland  517.501097  3.617317
29                      Portugal  487.063181  3.812485
30               Slovak Republic  481.644744  3.426060
31                      Slovenia  501.127423  1.232965
32                         Spain  484.319298  1.896055
33                        Sweden  478.260636  2.255462
34                   Switzerland  530.931004  3.040559
35                        Turkey  447.984415  4.829657
36                United Kingdom  493.934231  3.296485
37                 United States  481.366786  3.597093

In [28]:
math2015 = pd.read_excel("../data/2015/math2015.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2015', 'Unnamed: 4': 'se_2015'}, axis=1, inplace=True)
math2015 = math2015.drop(index=[38,39])
math2015

                       Countries    avg_2015   se_2015
0   International Average (OECD)  487.166587  0.424213
1                      Australia  493.896231  1.605352
2                        Austria  496.742274  2.860861
3                        Belgium  506.984362  2.350343
4                         Canada  515.647428  2.313085
5                          Chile  422.671358  2.539463
6                       Colombia  389.643828  2.286127
7                 Czech Republic  492.325438  2.396055
8                        Denmark  511.087632  2.174178
9                        Estonia  519.529132  2.042554
10                       Finland  511.076853  2.309252
11                        France  492.920402  2.098858
12                       Germany  505.971282  2.887887
13                        Greece  453.629851  3.753586
14                       Hungary  476.830881  2.526961
15                       Iceland  488.033184  1.988679
16                       Ireland  503.721997  2.053137
17                        Israel  469.669454  3.629201
18                         Italy  489.728731  2.845415
19                         Japan  532.439872  3.000015
20                         Korea  524.106216  3.712334
21                        Latvia  482.305072  1.868743
22                     Lithuania  478.383382  2.329290
23                    Luxembourg  485.770628  1.267809
24                        Mexico  408.023478  2.240859
25                   Netherlands  512.252790  2.211587
26                   New Zealand  495.223256  2.265379
27                        Norway  501.729815  2.231637
28                        Poland  504.469251  2.389824
29                      Portugal  491.626968  2.490857
30               Slovak Republic  475.230105  2.658402
31                      Slovenia  509.919632  1.256337
32                         Spain  485.843217  2.151228
33                        Sweden  493.918122  3.172340
34                   Switzerland  521.250575  2.920329
35                        Turkey  420.453979  4.128883
36                United Kingdom  492.478531  2.496524
37                 United States  469.628492  3.166395

In [29]:
math2018 = pd.read_excel("../data/2018/math2018.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2018', 'Unnamed: 4': 'se_2018'}, axis=1, inplace=True)
math2018 = math2018.drop(index=[38,39])
math2018

                       Countries    avg_2018   se_2018
0   International Average (OECD)  489.286640  0.398893
1                      Australia  491.360025  1.939833
2                        Austria  498.942314  2.970999
3                        Belgium  508.070306  2.262662
4                         Canada  512.016943  2.357476
5                          Chile  417.406556  2.415888
6                       Colombia  390.932273  2.989559
7                 Czech Republic  499.467651  2.460662
8                        Denmark  509.398375  1.735002
9                        Estonia  523.414580  1.743602
10                       Finland  507.301362  1.967920
11                        France  495.407579  2.320214
12                       Germany  500.043781  2.647083
13                        Greece  451.370344  3.091228
14                       Hungary  481.082636  2.319597
15                       Iceland  495.187376  1.953083
16                       Ireland  499.632894  2.198621
17                        Israel  463.034549  3.498563
18                         Italy  486.589857  2.780046
19                         Japan  526.973250  2.471475
20                         Korea  525.933002  3.121394
21                        Latvia  496.126331  1.962767
22                     Lithuania  481.191188  1.953282
23                    Luxembourg  483.421485  1.097632
24                        Mexico  408.801473  2.493226
25                   Netherlands  519.230982  2.632278
26                   New Zealand  494.489676  1.705943
27                        Norway  500.963788  2.219045
28                        Poland  515.647875  2.602085
29                      Portugal  492.487406  2.684570
30               Slovak Republic  486.164854  2.555596
31                      Slovenia  508.897544  1.363878
32                         Spain  481.392613  1.462418
33                        Sweden  502.387702  2.654251
34                   Switzerland  515.314713  2.908004
35                        Turkey  453.507777  2.260407
36                United Kingdom  501.769899  2.564428
37                 United States  478.244717  3.235444

In [30]:
math = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(math2000,math2003,on='Countries'), math2006, on='Countries'), math2009, on='Countries'), math2012, on='Countries'),math2015, on='Countries'), math2018, on='Countries')
math

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),—,†,499.463525,0.552362,490.407608,0.497568,491.718580,0.472636,490.357783,0.470671,487.166587,0.424213,489.286640,0.398893
1,Australia,—,†,524.266004,2.148447,519.907749,2.240618,514.340462,2.528262,504.150766,1.643078,493.896231,1.605352,491.360025,1.939833
2,Austria,—,†,505.610984,3.266191,505.483598,3.737765,495.908655,2.657693,505.540743,2.668064,496.742274,2.860861,498.942314,2.970999
3,Belgium,—,†,529.286415,2.286061,520.348973,2.954633,515.272277,2.254316,514.529245,2.144891,506.984362,2.350343,508.070306,2.262662
4,Canada,—,†,532.486736,1.817917,527.007179,1.966896,526.805153,1.613570,518.070400,1.841355,515.647428,2.313085,512.016943,2.357476
5,Chile,—,†,—,†,411.350339,4.581360,421.060473,3.059392,422.632356,3.067258,422.671358,2.539463,417.406556,2.415888
6,Colombia,—,†,—,†,369.978514,3.783369,380.848215,3.240893,376.488601,2.886744,389.643828,2.286127,390.932273,2.989559
7,Czech Republic,—,†,516.455001,3.545588,509.859359,3.551094,492.814094,2.830126,498.957882,2.852470,492.325438,2.396055,499.467651,2.460662
8,Denmark,—,†,514.287675,2.743728,513.025950,2.616959,503.278147,2.602720,500.026757,2.294648,511.087632,2.174178,509.398375,1.735002
9,Estonia,—,†,—,†,514.575462,2.745226,512.104197,2.565601,520.545522,2.021166,519.529132,2.042554,523.414580,1.743602
10,Finland,—,†,544.289187,1.866273,548.358395,2.295555,540.504348,2.166539,518.750335,1.940750,511.076853,2.309252,507.301362,1.967920
11,France,—,†,510.799473,2.503496,495.538333,3.170834,496.782310,3.093571,494.984674,2.454806,492.920402,2.098858,495.407579,2.320214
12,Germany,—,†,502.985533,3.317209,503.790858,3.868244,512.777643,2.863064,513.525056,2.876525,505.971282,2.887887,500.043781,2.647083
13,Greece,—,†,444.911863,3.900775,459.201987,2.968196,466.096373,3.879698,452.973427,2.502051,453.629851,3.753586,451.370344,3.091228
14,Hungary,—,†,490.012392,2.837591,490.937383,2.885215,490.170028,3.451042,477.044455,3.192857,476.830881,2.526961,481.082636,2.319597
15,Iceland,—,†,515.10865,1.423421,505.544828,1.806656,506.669164,1.389789,492.795698,1.702383,488.033184,1.988679,495.187376,1.953083
16,Ireland,—,†,502.83732,2.448121,501.471771,2.785221,487.136375,2.544066,501.497460,2.247598,503.721997,2.053137,499.632894,2.198621
17,Israel,—,†,—,†,441.858728,4.345732,446.863764,3.278216,466.481430,4.682108,469.669454,3.629201,463.034549,3.498563
18,Italy,—,†,465.66421,3.075031,461.688721,2.282458,482.908480,1.855858,485.321181,2.025222,489.728731,2.845415,486.589857,2.780046
19,Japan,—,†,534.136502,4.015724,523.102515,3.341509,528.993093,3.328205,536.406919,3.587147,532.439872,3.000015,526.973250,2.471475
20,Korea,—,†,542.22737,3.238246,547.458479,3.761154,546.228534,4.015360,553.766659,4.579161,524.106216,3.712334,525.933002,3.121394
21,Latvia,—,†,483.374949,3.687353,486.166083,3.027108,481.953822,3.067149,490.571022,2.752232,482.305072,1.868743,496.126331,1.962767
22,Lithuania,—,†,—,†,486.421335,2.925270,476.602303,2.616653,478.823277,2.640951,478.383382,2.329290,481.191188,1.953282
23,Luxembourg,—,†,493.208557,0.971641,490.001840,1.065574,489.067263,1.179351,489.845098,1.094547,485.770628,1.267809,483.421485,1.097632
24,Mexico,—,†,385.218339,3.643326,405.654640,2.926041,418.509095,1.825909,413.281467,1.352811,408.023478,2.240859,408.801473,2.493226
25,Netherlands,—,†,537.823276,3.130174,530.654046,2.585670,525.835688,4.745358,522.971758,3.471983,512.252790,2.211587,519.230982,2.632278
26,New Zealand,—,†,523.486585,2.256883,521.988849,2.389559,519.300872,2.311987,499.749903,2.205382,495.223256,2.265379,494.489676,1.705943
27,Norway,—,†,495.18539,2.376441,489.846353,2.640756,497.955693,2.397252,489.373070,2.733848,501.729815,2.231637,500.963788,2.219045
28,Poland,—,†,490.238776,2.504114,495.428497,2.441732,494.802918,2.838240,517.501097,3.617317,504.469251,2.389824,515.647875,2.602085
29,Portugal,—,†,466.016695,3.404636,466.160986,3.068536,486.888306,2.914903,487.063181,3.812485,491.626968,2.490857,492.487406,2.684570
30,Slovak Republic,—,†,498.183456,3.347527,492.106238,2.823507,496.683420,3.082462,481.644744,3.426060,475.230105,2.658402,486.164854,2.555596
31,Slovenia,—,†,—,†,504.455964,1.042794,501.472389,1.225067,501.127423,1.232965,509.919632,1.256337,508.897544,1.363878
32,Spain,—,†,485.108056,2.409297,479.957507,2.334433,483.493140,2.108512,484.319298,1.896055,485.843217,2.151228,481.392613,1.462418
33,Sweden,—,†,509.046449,2.558786,502.356398,2.407671,494.238175,2.898874,478.260636,2.255462,493.918122,3.172340,502.387702,2.654251
34,Switzerland,—,†,526.553148,3.383037,529.656147,3.153445,533.960645,3.297682,530.931004,3.040559,521.250575,2.920329,515.314713,2.908004
35,Turkey,—,†,423.41941,6.736231,423.941190,4.901046,445.451340,4.441255,447.984415,4.829657,420.453979,4.128883,453.507777,2.260407
36,United Kingdom,—,†,508.258082,2.426686,495.444158,2.142734,492.414078,2.420443,493.934231,3.296485,492.478531,2.496524,501.769899,2.564428
37,United States,—,†,482.882789,2.948952,474.352158,4.020512,487.396521,3.574074,481.366786,3.597093,469.628492,3.166395,478.244717,3.235444

In [31]:
math = math.replace('—',np.nan,regex = True)
math = math.replace('†',np.nan,regex = True)
math = math.replace('‡',np.nan,regex = True)
math

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),NaN,NaN,499.463525,0.552362,490.407608,0.497568,491.718580,0.472636,490.357783,0.470671,487.166587,0.424213,489.286640,0.398893
1,Australia,NaN,NaN,524.266004,2.148447,519.907749,2.240618,514.340462,2.528262,504.150766,1.643078,493.896231,1.605352,491.360025,1.939833
2,Austria,NaN,NaN,505.610984,3.266191,505.483598,3.737765,495.908655,2.657693,505.540743,2.668064,496.742274,2.860861,498.942314,2.970999
3,Belgium,NaN,NaN,529.286415,2.286061,520.348973,2.954633,515.272277,2.254316,514.529245,2.144891,506.984362,2.350343,508.070306,2.262662
4,Canada,NaN,NaN,532.486736,1.817917,527.007179,1.966896,526.805153,1.613570,518.070400,1.841355,515.647428,2.313085,512.016943,2.357476
5,Chile,NaN,NaN,NaN,NaN,411.350339,4.581360,421.060473,3.059392,422.632356,3.067258,422.671358,2.539463,417.406556,2.415888
6,Colombia,NaN,NaN,NaN,NaN,369.978514,3.783369,380.848215,3.240893,376.488601,2.886744,389.643828,2.286127,390.932273,2.989559
7,Czech Republic,NaN,NaN,516.455001,3.545588,509.859359,3.551094,492.814094,2.830126,498.957882,2.852470,492.325438,2.396055,499.467651,2.460662
8,Denmark,NaN,NaN,514.287675,2.743728,513.025950,2.616959,503.278147,2.602720,500.026757,2.294648,511.087632,2.174178,509.398375,1.735002
9,Estonia,NaN,NaN,NaN,NaN,514.575462,2.745226,512.104197,2.565601,520.545522,2.021166,519.529132,2.042554,523.414580,1.743602
10,Finland,NaN,NaN,544.289187,1.866273,548.358395,2.295555,540.504348,2.166539,518.750335,1.940750,511.076853,2.309252,507.301362,1.967920
11,France,NaN,NaN,510.799473,2.503496,495.538333,3.170834,496.782310,3.093571,494.984674,2.454806,492.920402,2.098858,495.407579,2.320214
12,Germany,NaN,NaN,502.985533,3.317209,503.790858,3.868244,512.777643,2.863064,513.525056,2.876525,505.971282,2.887887,500.043781,2.647083
13,Greece,NaN,NaN,444.911863,3.900775,459.201987,2.968196,466.096373,3.879698,452.973427,2.502051,453.629851,3.753586,451.370344,3.091228
14,Hungary,NaN,NaN,490.012392,2.837591,490.937383,2.885215,490.170028,3.451042,477.044455,3.192857,476.830881,2.526961,481.082636,2.319597
15,Iceland,NaN,NaN,515.108650,1.423421,505.544828,1.806656,506.669164,1.389789,492.795698,1.702383,488.033184,1.988679,495.187376,1.953083
16,Ireland,NaN,NaN,502.837320,2.448121,501.471771,2.785221,487.136375,2.544066,501.497460,2.247598,503.721997,2.053137,499.632894,2.198621
17,Israel,NaN,NaN,NaN,NaN,441.858728,4.345732,446.863764,3.278216,466.481430,4.682108,469.669454,3.629201,463.034549,3.498563
18,Italy,NaN,NaN,465.664210,3.075031,461.688721,2.282458,482.908480,1.855858,485.321181,2.025222,489.728731,2.845415,486.589857,2.780046
19,Japan,NaN,NaN,534.136502,4.015724,523.102515,3.341509,528.993093,3.328205,536.406919,3.587147,532.439872,3.000015,526.973250,2.471475
20,Korea,NaN,NaN,542.227370,3.238246,547.458479,3.761154,546.228534,4.015360,553.766659,4.579161,524.106216,3.712334,525.933002,3.121394
21,Latvia,NaN,NaN,483.374949,3.687353,486.166083,3.027108,481.953822,3.067149,490.571022,2.752232,482.305072,1.868743,496.126331,1.962767
22,Lithuania,NaN,NaN,NaN,NaN,486.421335,2.925270,476.602303,2.616653,478.823277,2.640951,478.383382,2.329290,481.191188,1.953282
23,Luxembourg,NaN,NaN,493.208557,0.971641,490.001840,1.065574,489.067263,1.179351,489.845098,1.094547,485.770628,1.267809,483.421485,1.097632
24,Mexico,NaN,NaN,385.218339,3.643326,405.654640,2.926041,418.509095,1.825909,413.281467,1.352811,408.023478,2.240859,408.801473,2.493226
25,Netherlands,NaN,NaN,537.823276,3.130174,530.654046,2.585670,525.835688,4.745358,522.971758,3.471983,512.252790,2.211587,519.230982,2.632278
26,New Zealand,NaN,NaN,523.486585,2.256883,521.988849,2.389559,519.300872,2.311987,499.749903,2.205382,495.223256,2.265379,494.489676,1.705943
27,Norway,NaN,NaN,495.185390,2.376441,489.846353,2.640756,497.955693,2.397252,489.373070,2.733848,501.729815,2.231637,500.963788,2.219045
28,Poland,NaN,NaN,490.238776,2.504114,495.428497,2.441732,494.802918,2.838240,517.501097,3.617317,504.469251,2.389824,515.647875,2.602085
29,Portugal,NaN,NaN,466.016695,3.404636,466.160986,3.068536,486.888306,2.914903,487.063181,3.812485,491.626968,2.490857,492.487406,2.684570
30,Slovak Republic,NaN,NaN,498.183456,3.347527,492.106238,2.823507,496.683420,3.082462,481.644744,3.426060,475.230105,2.658402,486.164854,2.555596
31,Slovenia,NaN,NaN,NaN,NaN,504.455964,1.042794,501.472389,1.225067,501.127423,1.232965,509.919632,1.256337,508.897544,1.363878
32,Spain,NaN,NaN,485.108056,2.409297,479.957507,2.334433,483.493140,2.108512,484.319298,1.896055,485.843217,2.151228,481.392613,1.462418
33,Sweden,NaN,NaN,509.046449,2.558786,502.356398,2.407671,494.238175,2.898874,478.260636,2.255462,493.918122,3.172340,502.387702,2.654251
34,Switzerland,NaN,NaN,526.553148,3.383037,529.656147,3.153445,533.960645,3.297682,530.931004,3.040559,521.250575,2.920329,515.314713,2.908004
35,Turkey,NaN,NaN,423.419410,6.736231,423.941190,4.901046,445.451340,4.441255,447.984415,4.829657,420.453979,4.128883,453.507777,2.260407
36,United Kingdom,NaN,NaN,508.258082,2.426686,495.444158,2.142734,492.414078,2.420443,493.934231,3.296485,492.478531,2.496524,501.769899,2.564428
37,United States,NaN,NaN,482.882789,2.948952,474.352158,4.020512,487.396521,3.574074,481.366786,3.597093,469.628492,3.166395,478.244717,3.235444

In [32]:
math['rank_2000'] = math['avg_2000'].rank(method='max')
math['rank_2003'] = math['avg_2003'].rank(method='max')
math['rank_2006'] = math['avg_2006'].rank(method='max')
math['rank_2009'] = math['avg_2009'].rank(method='max')
math['rank_2012'] = math['avg_2012'].rank(method='max')
math['rank_2015'] = math['avg_2015'].rank(method='max')
math['rank_2018'] = math['avg_2018'].rank(method='max')
math

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,...,se_2015,avg_2018,se_2018,rank_2000,rank_2003,rank_2006,rank_2009,rank_2012,rank_2015,rank_2018
0,International Average (OECD),NaN,NaN,499.463525,0.552362,490.407608,0.497568,491.718580,0.472636,490.357783,...,0.424213,489.286640,0.398893,NaN,14.0,15.0,16.0,17.0,14.0,14.0
1,Australia,NaN,NaN,524.266004,2.148447,519.907749,2.240618,514.340462,2.528262,504.150766,...,1.605352,491.360025,1.939833,NaN,25.0,30.0,30.0,27.0,21.0,15.0
2,Austria,NaN,NaN,505.610984,3.266191,505.483598,3.737765,495.908655,2.657693,505.540743,...,2.860861,498.942314,2.970999,NaN,17.0,25.0,21.0,28.0,24.0,21.0
3,Belgium,NaN,NaN,529.286415,2.286061,520.348973,2.954633,515.272277,2.254316,514.529245,...,2.350343,508.070306,2.262662,NaN,27.0,31.0,31.0,30.0,29.0,29.0
4,Canada,NaN,NaN,532.486736,1.817917,527.007179,1.966896,526.805153,1.613570,518.070400,...,2.313085,512.016943,2.357476,NaN,28.0,34.0,34.0,32.0,34.0,32.0
5,Chile,NaN,NaN,NaN,NaN,411.350339,4.581360,421.060473,3.059392,422.632356,...,2.539463,417.406556,2.415888,NaN,NaN,3.0,3.0,3.0,4.0,3.0
6,Colombia,NaN,NaN,NaN,NaN,369.978514,3.783369,380.848215,3.240893,376.488601,...,2.286127,390.932273,2.989559,NaN,NaN,1.0,1.0,1.0,1.0,1.0
7,Czech Republic,NaN,NaN,516.455001,3.545588,509.859359,3.551094,492.814094,2.830126,498.957882,...,2.396055,499.467651,2.460662,NaN,23.0,27.0,18.0,22.0,18.0,22.0
8,Denmark,NaN,NaN,514.287675,2.743728,513.025950,2.616959,503.278147,2.602720,500.026757,...,2.174178,509.398375,1.735002,NaN,21.0,28.0,26.0,24.0,32.0,31.0
9,Estonia,NaN,NaN,NaN,NaN,514.575462,2.745226,512.104197,2.565601,520.545522,...,2.042554,523.414580,1.743602,NaN,NaN,29.0,28.0,34.0,35.0,36.0
10,Finland,NaN,NaN,544.289187,1.866273,548.358395,2.295555,540.504348,2.166539,518.750335,...,2.309252,507.301362,1.967920,NaN,32.0,38.0,37.0,33.0,31.0,28.0
11,France,NaN,NaN,510.799473,2.503496,495.538333,3.170834,496.782310,3.093571,494.984674,...,2.098858,495.407579,2.320214,NaN,20.0,20.0,23.0,21.0,20.0,19.0
12,Germany,NaN,NaN,502.985533,3.317209,503.790858,3.868244,512.777643,2.863064,513.525056,...,2.887887,500.043781,2.647083,NaN,16.0,23.0,29.0,29.0,28.0,24.0
13,Greece,NaN,NaN,444.911863,3.900775,459.201987,2.968196,466.096373,3.879698,452.973427,...,3.753586,451.370344,3.091228,NaN,3.0,6.0,6.0,5.0,5.0,4.0
14,Hungary,NaN,NaN,490.012392,2.837591,490.937383,2.885215,490.170028,3.451042,477.044455,...,2.526961,481.082636,2.319597,NaN,9.0,16.0,15.0,7.0,9.0,8.0
15,Iceland,NaN,NaN,515.108650,1.423421,505.544828,1.806656,506.669164,1.389789,492.795698,...,1.988679,495.187376,1.953083,NaN,22.0,26.0,27.0,19.0,15.0,18.0
16,Ireland,NaN,NaN,502.837320,2.448121,501.471771,2.785221,487.136375,2.544066,501.497460,...,2.053137,499.632894,2.198621,NaN,15.0,21.0,12.0,26.0,26.0,23.0
17,Israel,NaN,NaN,NaN,NaN,441.858728,4.345732,446.863764,3.278216,466.481430,...,3.629201,463.034549,3.498563,NaN,NaN,5.0,5.0,6.0,7.0,6.0
18,Italy,NaN,NaN,465.664210,3.075031,461.688721,2.282458,482.908480,1.855858,485.321181,...,2.845415,486.589857,2.780046,NaN,4.0,7.0,9.0,13.0,16.0,13.0
19,Japan,NaN,NaN,534.136502,4.015724,523.102515,3.341509,528.993093,3.328205,536.406919,...,3.000015,526.973250,2.471475,NaN,29.0,33.0,35.0,37.0,38.0,38.0
20,Korea,NaN,NaN,542.227370,3.238246,547.458479,3.761154,546.228534,4.015360,553.766659,...,3.712334,525.933002,3.121394,NaN,31.0,37.0,38.0,38.0,37.0,37.0
21,Latvia,NaN,NaN,483.374949,3.687353,486.166083,3.027108,481.953822,3.067149,490.571022,...,1.868743,496.126331,1.962767,NaN,7.0,11.0,8.0,18.0,11.0,20.0
22,Lithuania,NaN,NaN,NaN,NaN,486.421335,2.925270,476.602303,2.616653,478.823277,...,2.329290,481.191188,1.953282,NaN,NaN,12.0,7.0,9.0,10.0,9.0
23,Luxembourg,NaN,NaN,493.208557,0.971641,490.001840,1.065574,489.067263,1.179351,489.845098,...,1.267809,483.421485,1.097632,NaN,11.0,14.0,14.0,16.0,12.0,11.0
24,Mexico,NaN,NaN,385.218339,3.643326,405.654640,2.926041,418.509095,1.825909,413.281467,...,2.240859,408.801473,2.493226,NaN,1.0,2.0,2.0,2.0,2.0,2.0
25,Netherlands,NaN,NaN,537.823276,3.130174,530.654046,2.585670,525.835688,4.745358,522.971758,...,2.211587,519.230982,2.632278,NaN,30.0,36.0,33.0,35.0,33.0,35.0
26,New Zealand,NaN,NaN,523.486585,2.256883,521.988849,2.389559,519.300872,2.311987,499.749903,...,2.265379,494.489676,1.705943,NaN,24.0,32.0,32.0,23.0,23.0,17.0
27,Norway,NaN,NaN,495.185390,2.376441,489.846353,2.640756,497.955693,2.397252,489.373070,...,2.231637,500.963788,2.219045,NaN,12.0,13.0,24.0,15.0,25.0,25.0
28,Poland,NaN,NaN,490.238776,2.504114,495.428497,2.441732,494.802918,2.838240,517.501097,...,2.389824,515.647875,2.602085,NaN,10.0,18.0,20.0,31.0,27.0,34.0
29,Portugal,NaN,NaN,466.016695,3.404636,466.160986,3.068536,486.888306,2.914903,487.063181,...,2.490857,492.487406,2.684570,NaN,5.0,8.0,11.0,14.0,17.0,16.0
30,Slovak Republic,NaN,NaN,498.183456,3.347527,492.106238,2.823507,496.683420,3.082462,481.644744,...,2.658402,486.164854,2.555596,NaN,13.0,17.0,22.0,11.0,8.0,12.0
31,Slovenia,NaN,NaN,NaN,NaN,504.455964,1.042794,501.472389,1.225067,501.127423,...,1.256337,508.897544,1.363878,NaN,NaN,24.0,25.0,25.0,30.0,30.0
32,Spain,NaN,NaN,485.108056,2.409297,479.957507,2.334433,483.493140,2.108512,484.319298,...,2.151228,481.392613,1.462418,NaN,8.0,10.0,10.0,12.0,13.0,10.0
33,Sweden,NaN,NaN,509.046449,2.558786,502.356398,2.407671,494.238175,2.898874,478.260636,...,3.172340,502.387702,2.654251,NaN,19.0,22.0,19.0,8.0,22.0,27.0
34,Switzerland,NaN,NaN,526.553148,3.383037,529.656147,3.153445,533.960645,3.297682,530.931004,...,2.920329,515.314713,2.908004,NaN,26.0,35.0,36.0,36.0,36.0,33.0
35,Turkey,NaN,NaN,423.419410,6.736231,423.941190,4.901046,445.451340,4.441255,447.984415,...,4.128883,453.507777,2.260407,NaN,2.0,4.0,4.0,4.0,3.0,5.0
36,United Kingdom,NaN,NaN,508.258082,2.426686,495.444158,2.142734,492.414078,2.420443,493.934231,...,2.496524,501.769899,2.564428,NaN,18.0,19.0,17.0,20.0,19.0,26.0
37,United States,NaN,NaN,482.882789,2.948952,474.352158,4.020512,487.396521,3.574074,481.366786,...,3.166395,478.244717,3.235444,NaN,6.0,9.0,13.0,10.0,6.0,7.0

In [33]:
sci2000 = pd.read_excel("../data/2000/sci2000.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2000', 'Unnamed: 4': 'se_2000'}, axis=1, inplace=True)
sci2000 = sci2000.drop(index=[38,39])
sci2000

                       Countries avg_2000 se_2000
0   International Average (OECD)        —       †
1                      Australia        —       †
2                        Austria        —       †
3                        Belgium        —       †
4                         Canada        —       †
5                          Chile        —       †
6                       Colombia        —       †
7                 Czech Republic        —       †
8                        Denmark        —       †
9                        Estonia        —       †
10                       Finland        —       †
11                        France        —       †
12                       Germany        —       †
13                        Greece        —       †
14                       Hungary        —       †
15                       Iceland        —       †
16                       Ireland        —       †
17                        Israel        —       †
18                         Italy        —       †
19                         Japan        —       †
20                         Korea        —       †
21                        Latvia        —       †
22                     Lithuania        —       †
23                    Luxembourg        —       †
24                        Mexico        —       †
25                   Netherlands        —       †
26                   New Zealand        —       †
27                        Norway        —       †
28                        Poland        —       †
29                      Portugal        —       †
30               Slovak Republic        —       †
31                      Slovenia        —       †
32                         Spain        —       †
33                        Sweden        —       †
34                   Switzerland        —       †
35                        Turkey        —       †
36                United Kingdom        —       †
37                 United States        —       †

In [34]:
sci2003 = pd.read_excel("../data/2003/sci2003.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2003', 'Unnamed: 4': 'se_2003'}, axis=1, inplace=True)
sci2003 = sci2003.drop(index=[38,39])
sci2003

                       Countries avg_2003 se_2003
0   International Average (OECD)        —       †
1                      Australia        —       †
2                        Austria        —       †
3                        Belgium        —       †
4                         Canada        —       †
5                          Chile        —       †
6                       Colombia        —       †
7                 Czech Republic        —       †
8                        Denmark        —       †
9                        Estonia        —       †
10                       Finland        —       †
11                        France        —       †
12                       Germany        —       †
13                        Greece        —       †
14                       Hungary        —       †
15                       Iceland        —       †
16                       Ireland        —       †
17                        Israel        —       †
18                         Italy        —       †
19                         Japan        —       †
20                         Korea        —       †
21                        Latvia        —       †
22                     Lithuania        —       †
23                    Luxembourg        —       †
24                        Mexico        —       †
25                   Netherlands        —       †
26                   New Zealand        —       †
27                        Norway        —       †
28                        Poland        —       †
29                      Portugal        —       †
30               Slovak Republic        —       †
31                      Slovenia        —       †
32                         Spain        —       †
33                        Sweden        —       †
34                   Switzerland        —       †
35                        Turkey        —       †
36                United Kingdom        —       †
37                 United States        —       †

In [35]:
sci2006 = pd.read_excel("../data/2006/sci2006.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2006', 'Unnamed: 4': 'se_2006'}, axis=1, inplace=True)
sci2006 = sci2006.drop(index=[38,39])
sci2006

                       Countries    avg_2006   se_2006
0   International Average (OECD)  494.804917  0.484689
1                      Australia  526.879589  2.260280
2                        Austria  510.837155  3.924941
3                        Belgium  510.363484  2.484698
4                         Canada  534.469777  2.031759
5                          Chile  438.177445  4.317691
6                       Colombia  388.038272  3.374938
7                 Czech Republic  512.860746  3.478430
8                        Denmark  495.894310  3.108693
9                        Estonia  531.391804  2.522965
10                       Finland  563.322835  2.018486
11                        France  495.219839  3.360265
12                       Germany  515.649130  3.795617
13                        Greece  473.377964  3.230921
14                       Hungary  503.931729  2.675972
15                       Iceland  490.793774  1.637478
16                       Ireland  508.328930  3.186063
17                        Israel  453.903708  3.706954
18                         Italy  475.397221  2.019322
19                         Japan  531.388509  3.374334
20                         Korea  522.148141  3.357592
21                        Latvia  489.543778  2.971692
22                     Lithuania  487.956698  2.756917
23                    Luxembourg  486.324363  1.054260
24                        Mexico  409.651952  2.714533
25                   Netherlands  524.861506  2.741643
26                   New Zealand  530.384361  2.692904
27                        Norway  486.527957  3.111378
28                        Poland  497.806502  2.342462
29                      Portugal  474.305889  3.023314
30               Slovak Republic  488.433399  2.585365
31                      Slovenia  518.815610  1.111121
32                         Spain  488.424523  2.565414
33                        Sweden  503.334006  2.374807
34                   Switzerland  511.523909  3.162319
35                        Turkey  423.832745  3.839061
36                United Kingdom  514.773548  2.289011
37                 United States  488.906837  4.224189

In [36]:
sci2009 = pd.read_excel("../data/2009/sci2009.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2009', 'Unnamed: 4': 'se_2009'}, axis=1, inplace=True)
sci2009 = sci2009.drop(index=[38,39])
sci2009

                       Countries    avg_2009   se_2009
0   International Average (OECD)  497.722564  0.478332
1                      Australia  527.270534  2.531131
2                        Austria  494.327673  3.242150
3                        Belgium  506.575526  2.522207
4                         Canada  528.704953  1.621340
5                          Chile  447.467360  2.922763
6                       Colombia  401.750115  3.634409
7                 Czech Republic  500.497066  2.974225
8                        Denmark  499.336975  2.482266
9                        Estonia  527.831756  2.668582
10                       Finland  554.079510  2.335801
11                        France  498.226894  3.601372
12                       Germany  520.405350  2.798683
13                        Greece  470.115764  4.038838
14                       Hungary  502.642748  3.142282
15                       Iceland  495.598499  1.411047
16                       Ireland  507.984154  3.267061
17                        Israel  454.850963  3.112451
18                         Italy  488.831363  1.772960
19                         Japan  539.430993  3.412644
20                         Korea  537.986230  3.438713
21                        Latvia  493.878924  3.065201
22                     Lithuania  491.409791  2.929546
23                    Luxembourg  483.928421  1.230944
24                        Mexico  415.908672  1.787947
25                   Netherlands  522.218128  5.418859
26                   New Zealand  532.006901  2.578755
27                        Norway  499.875700  2.600342
28                        Poland  508.068297  2.413254
29                      Portugal  492.949967  2.897723
30               Slovak Republic  490.265922  2.985986
31                      Slovenia  511.759473  1.149193
32                         Spain  488.254630  2.052464
33                        Sweden  495.105898  2.720589
34                   Switzerland  516.567510  2.816659
35                        Turkey  453.909718  3.596687
36                United Kingdom  513.710240  2.518357
37                 United States  502.002265  3.644226

In [37]:
sci2012 = pd.read_excel("../data/2012/sci2012.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2012', 'Unnamed: 4': 'se_2012'}, axis=1, inplace=True)
sci2012 = sci2012.drop(index=[38,39])
sci2012

                       Countries    avg_2012   se_2012
0   International Average (OECD)  498.253742  0.470731
1                      Australia  521.494747  1.757625
2                        Austria  505.781248  2.700310
3                        Belgium  504.867654  2.180299
4                         Canada  525.441293  1.930456
5                          Chile  444.933921  2.863276
6                       Colombia  398.678632  3.052803
7                 Czech Republic  508.299081  2.962863
8                        Denmark  498.474203  2.742096
9                        Estonia  541.404758  1.948321
10                       Finland  545.441941  2.198721
11                        France  498.970895  2.578673
12                       Germany  524.120800  2.963274
13                        Greece  466.722030  3.122504
14                       Hungary  494.302352  2.949817
15                       Iceland  478.154597  2.115087
16                       Ireland  522.003960  2.450348
17                        Israel  470.072663  4.957752
18                         Italy  493.541483  1.935524
19                         Japan  546.735601  3.604580
20                         Korea  537.787623  3.657511
21                        Latvia  502.186194  2.752083
22                     Lithuania  495.700088  2.554495
23                    Luxembourg  491.215176  1.304785
24                        Mexico  414.920148  1.305445
25                   Netherlands  522.055823  3.508163
26                   New Zealand  515.636319  2.144424
27                        Norway  494.523935  3.087278
28                        Poland  525.816447  3.123468
29                      Portugal  489.274733  3.746720
30               Slovak Republic  471.193178  3.608221
31                      Slovenia  514.142556  1.286206
32                         Spain  496.445824  1.828575
33                        Sweden  484.798967  3.002190
34                   Switzerland  515.297524  2.713830
35                        Turkey  463.412910  3.894141
36                United Kingdom  514.129322  3.381750
37                 United States  497.409812  3.775886

In [38]:
sci2015 = pd.read_excel("../data/2015/sci2015.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2015', 'Unnamed: 4': 'se_2015'}, axis=1, inplace=True)
sci2015 = sci2015.drop(index=[38,39])
sci2015

                       Countries    avg_2015   se_2015
0   International Average (OECD)  490.626964  0.416671
1                      Australia  509.993854  1.535311
2                        Austria  495.037486  2.439345
3                        Belgium  501.999714  2.289589
4                         Canada  527.704684  2.080262
5                          Chile  446.956066  2.379287
6                       Colombia  415.728761  2.361078
7                 Czech Republic  492.830048  2.267697
8                        Denmark  501.936887  2.375478
9                        Estonia  534.193742  2.094807
10                       Finland  530.661159  2.392369
11                        France  494.977600  2.060727
12                       Germany  509.140647  2.698819
13                        Greece  454.828817  3.917317
14                       Hungary  476.747512  2.421464
15                       Iceland  473.230086  1.680925
16                       Ireland  502.575115  2.386027
17                        Israel  466.552812  3.437554
18                         Italy  480.546762  2.515953
19                         Japan  538.394751  2.966179
20                         Korea  515.809912  3.131842
21                        Latvia  490.225018  1.560282
22                     Lithuania  475.408946  2.652676
23                    Luxembourg  482.806384  1.120987
24                        Mexico  415.709883  2.130491
25                   Netherlands  508.574806  2.257396
26                   New Zealand  513.303512  2.384248
27                        Norway  498.481109  2.262386
28                        Poland  501.435332  2.507452
29                      Portugal  501.100062  2.430820
30               Slovak Republic  460.774856  2.593678
31                      Slovenia  512.863579  1.324367
32                         Spain  492.786136  2.065474
33                        Sweden  493.422356  3.600721
34                   Switzerland  505.505816  2.900272
35                        Turkey  425.489509  3.933901
36                United Kingdom  509.221503  2.564396
37                 United States  496.242434  3.181201

In [39]:
sci2018 = pd.read_excel("../data/2018/sci2018.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2018', 'Unnamed: 4': 'se_2018'}, axis=1, inplace=True)
sci2018 = sci2018.drop(index=[38,39])
sci2018

                       Countries    avg_2018   se_2018
0   International Average (OECD)  488.662377  0.402306
1                      Australia  502.964563  1.795398
2                        Austria  489.780439  2.777395
3                        Belgium  498.773127  2.229240
4                         Canada  517.997661  2.153651
5                          Chile  443.582563  2.415280
6                       Colombia  413.322993  3.052402
7                 Czech Republic  496.791311  2.546069
8                        Denmark  492.637033  1.937604
9                        Estonia  530.108005  1.884569
10                       Finland  521.884563  2.509515
11                        France  492.977074  2.223662
12                       Germany  502.988903  2.911501
13                        Greece  451.632742  3.139630
14                       Hungary  480.911694  2.329977
15                       Iceland  475.024106  1.795502
16                       Ireland  496.113562  2.214146
17                        Israel  462.196633  3.618388
18                         Italy  468.011727  2.429562
19                         Japan  529.135433  2.593168
20                         Korea  519.007255  2.802762
21                        Latvia  487.250588  1.762796
22                     Lithuania  482.067013  1.629237
23                    Luxembourg  476.769406  1.220843
24                        Mexico  419.204719  2.584009
25                   Netherlands  503.383819  2.840622
26                   New Zealand  508.490721  2.104634
27                        Norway  490.413149  2.282508
28                        Poland  511.035562  2.607236
29                      Portugal  491.677328  2.773163
30               Slovak Republic  464.047578  2.278188
31                      Slovenia  507.006546  1.250420
32                         Spain  483.252043  1.552853
33                        Sweden  499.444690  3.069711
34                   Switzerland  495.276288  3.004997
35                        Turkey  468.299618  2.013049
36                United Kingdom  504.667474  2.564415
37                 United States  502.380032  3.317920

In [40]:
sci = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(sci2000,sci2003,on='Countries'), sci2006, on='Countries'), sci2009, on='Countries'), sci2012, on='Countries'),sci2015, on='Countries'), sci2018, on='Countries')
sci

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),—,†,—,†,494.804917,0.484689,497.722564,0.478332,498.253742,0.470731,490.626964,0.416671,488.662377,0.402306
1,Australia,—,†,—,†,526.879589,2.260280,527.270534,2.531131,521.494747,1.757625,509.993854,1.535311,502.964563,1.795398
2,Austria,—,†,—,†,510.837155,3.924941,494.327673,3.242150,505.781248,2.700310,495.037486,2.439345,489.780439,2.777395
3,Belgium,—,†,—,†,510.363484,2.484698,506.575526,2.522207,504.867654,2.180299,501.999714,2.289589,498.773127,2.229240
4,Canada,—,†,—,†,534.469777,2.031759,528.704953,1.621340,525.441293,1.930456,527.704684,2.080262,517.997661,2.153651
5,Chile,—,†,—,†,438.177445,4.317691,447.467360,2.922763,444.933921,2.863276,446.956066,2.379287,443.582563,2.415280
6,Colombia,—,†,—,†,388.038272,3.374938,401.750115,3.634409,398.678632,3.052803,415.728761,2.361078,413.322993,3.052402
7,Czech Republic,—,†,—,†,512.860746,3.478430,500.497066,2.974225,508.299081,2.962863,492.830048,2.267697,496.791311,2.546069
8,Denmark,—,†,—,†,495.894310,3.108693,499.336975,2.482266,498.474203,2.742096,501.936887,2.375478,492.637033,1.937604
9,Estonia,—,†,—,†,531.391804,2.522965,527.831756,2.668582,541.404758,1.948321,534.193742,2.094807,530.108005,1.884569
10,Finland,—,†,—,†,563.322835,2.018486,554.079510,2.335801,545.441941,2.198721,530.661159,2.392369,521.884563,2.509515
11,France,—,†,—,†,495.219839,3.360265,498.226894,3.601372,498.970895,2.578673,494.977600,2.060727,492.977074,2.223662
12,Germany,—,†,—,†,515.649130,3.795617,520.405350,2.798683,524.120800,2.963274,509.140647,2.698819,502.988903,2.911501
13,Greece,—,†,—,†,473.377964,3.230921,470.115764,4.038838,466.722030,3.122504,454.828817,3.917317,451.632742,3.139630
14,Hungary,—,†,—,†,503.931729,2.675972,502.642748,3.142282,494.302352,2.949817,476.747512,2.421464,480.911694,2.329977
15,Iceland,—,†,—,†,490.793774,1.637478,495.598499,1.411047,478.154597,2.115087,473.230086,1.680925,475.024106,1.795502
16,Ireland,—,†,—,†,508.328930,3.186063,507.984154,3.267061,522.003960,2.450348,502.575115,2.386027,496.113562,2.214146
17,Israel,—,†,—,†,453.903708,3.706954,454.850963,3.112451,470.072663,4.957752,466.552812,3.437554,462.196633,3.618388
18,Italy,—,†,—,†,475.397221,2.019322,488.831363,1.772960,493.541483,1.935524,480.546762,2.515953,468.011727,2.429562
19,Japan,—,†,—,†,531.388509,3.374334,539.430993,3.412644,546.735601,3.604580,538.394751,2.966179,529.135433,2.593168
20,Korea,—,†,—,†,522.148141,3.357592,537.986230,3.438713,537.787623,3.657511,515.809912,3.131842,519.007255,2.802762
21,Latvia,—,†,—,†,489.543778,2.971692,493.878924,3.065201,502.186194,2.752083,490.225018,1.560282,487.250588,1.762796
22,Lithuania,—,†,—,†,487.956698,2.756917,491.409791,2.929546,495.700088,2.554495,475.408946,2.652676,482.067013,1.629237
23,Luxembourg,—,†,—,†,486.324363,1.054260,483.928421,1.230944,491.215176,1.304785,482.806384,1.120987,476.769406,1.220843
24,Mexico,—,†,—,†,409.651952,2.714533,415.908672,1.787947,414.920148,1.305445,415.709883,2.130491,419.204719,2.584009
25,Netherlands,—,†,—,†,524.861506,2.741643,522.218128,5.418859,522.055823,3.508163,508.574806,2.257396,503.383819,2.840622
26,New Zealand,—,†,—,†,530.384361,2.692904,532.006901,2.578755,515.636319,2.144424,513.303512,2.384248,508.490721,2.104634
27,Norway,—,†,—,†,486.527957,3.111378,499.875700,2.600342,494.523935,3.087278,498.481109,2.262386,490.413149,2.282508
28,Poland,—,†,—,†,497.806502,2.342462,508.068297,2.413254,525.816447,3.123468,501.435332,2.507452,511.035562,2.607236
29,Portugal,—,†,—,†,474.305889,3.023314,492.949967,2.897723,489.274733,3.746720,501.100062,2.430820,491.677328,2.773163
30,Slovak Republic,—,†,—,†,488.433399,2.585365,490.265922,2.985986,471.193178,3.608221,460.774856,2.593678,464.047578,2.278188
31,Slovenia,—,†,—,†,518.815610,1.111121,511.759473,1.149193,514.142556,1.286206,512.863579,1.324367,507.006546,1.250420
32,Spain,—,†,—,†,488.424523,2.565414,488.254630,2.052464,496.445824,1.828575,492.786136,2.065474,483.252043,1.552853
33,Sweden,—,†,—,†,503.334006,2.374807,495.105898,2.720589,484.798967,3.002190,493.422356,3.600721,499.444690,3.069711
34,Switzerland,—,†,—,†,511.523909,3.162319,516.567510,2.816659,515.297524,2.713830,505.505816,2.900272,495.276288,3.004997
35,Turkey,—,†,—,†,423.832745,3.839061,453.909718,3.596687,463.412910,3.894141,425.489509,3.933901,468.299618,2.013049
36,United Kingdom,—,†,—,†,514.773548,2.289011,513.710240,2.518357,514.129322,3.381750,509.221503,2.564396,504.667474,2.564415
37,United States,—,†,—,†,488.906837,4.224189,502.002265,3.644226,497.409812,3.775886,496.242434,3.181201,502.380032,3.317920

In [41]:
sci = sci.replace('—',np.nan,regex = True)
sci = sci.replace('†',np.nan,regex = True)
sci = sci.replace('‡',np.nan,regex = True)
sci

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),NaN,NaN,NaN,NaN,494.804917,0.484689,497.722564,0.478332,498.253742,0.470731,490.626964,0.416671,488.662377,0.402306
1,Australia,NaN,NaN,NaN,NaN,526.879589,2.260280,527.270534,2.531131,521.494747,1.757625,509.993854,1.535311,502.964563,1.795398
2,Austria,NaN,NaN,NaN,NaN,510.837155,3.924941,494.327673,3.242150,505.781248,2.700310,495.037486,2.439345,489.780439,2.777395
3,Belgium,NaN,NaN,NaN,NaN,510.363484,2.484698,506.575526,2.522207,504.867654,2.180299,501.999714,2.289589,498.773127,2.229240
4,Canada,NaN,NaN,NaN,NaN,534.469777,2.031759,528.704953,1.621340,525.441293,1.930456,527.704684,2.080262,517.997661,2.153651
5,Chile,NaN,NaN,NaN,NaN,438.177445,4.317691,447.467360,2.922763,444.933921,2.863276,446.956066,2.379287,443.582563,2.415280
6,Colombia,NaN,NaN,NaN,NaN,388.038272,3.374938,401.750115,3.634409,398.678632,3.052803,415.728761,2.361078,413.322993,3.052402
7,Czech Republic,NaN,NaN,NaN,NaN,512.860746,3.478430,500.497066,2.974225,508.299081,2.962863,492.830048,2.267697,496.791311,2.546069
8,Denmark,NaN,NaN,NaN,NaN,495.894310,3.108693,499.336975,2.482266,498.474203,2.742096,501.936887,2.375478,492.637033,1.937604
9,Estonia,NaN,NaN,NaN,NaN,531.391804,2.522965,527.831756,2.668582,541.404758,1.948321,534.193742,2.094807,530.108005,1.884569
10,Finland,NaN,NaN,NaN,NaN,563.322835,2.018486,554.079510,2.335801,545.441941,2.198721,530.661159,2.392369,521.884563,2.509515
11,France,NaN,NaN,NaN,NaN,495.219839,3.360265,498.226894,3.601372,498.970895,2.578673,494.977600,2.060727,492.977074,2.223662
12,Germany,NaN,NaN,NaN,NaN,515.649130,3.795617,520.405350,2.798683,524.120800,2.963274,509.140647,2.698819,502.988903,2.911501
13,Greece,NaN,NaN,NaN,NaN,473.377964,3.230921,470.115764,4.038838,466.722030,3.122504,454.828817,3.917317,451.632742,3.139630
14,Hungary,NaN,NaN,NaN,NaN,503.931729,2.675972,502.642748,3.142282,494.302352,2.949817,476.747512,2.421464,480.911694,2.329977
15,Iceland,NaN,NaN,NaN,NaN,490.793774,1.637478,495.598499,1.411047,478.154597,2.115087,473.230086,1.680925,475.024106,1.795502
16,Ireland,NaN,NaN,NaN,NaN,508.328930,3.186063,507.984154,3.267061,522.003960,2.450348,502.575115,2.386027,496.113562,2.214146
17,Israel,NaN,NaN,NaN,NaN,453.903708,3.706954,454.850963,3.112451,470.072663,4.957752,466.552812,3.437554,462.196633,3.618388
18,Italy,NaN,NaN,NaN,NaN,475.397221,2.019322,488.831363,1.772960,493.541483,1.935524,480.546762,2.515953,468.011727,2.429562
19,Japan,NaN,NaN,NaN,NaN,531.388509,3.374334,539.430993,3.412644,546.735601,3.604580,538.394751,2.966179,529.135433,2.593168
20,Korea,NaN,NaN,NaN,NaN,522.148141,3.357592,537.986230,3.438713,537.787623,3.657511,515.809912,3.131842,519.007255,2.802762
21,Latvia,NaN,NaN,NaN,NaN,489.543778,2.971692,493.878924,3.065201,502.186194,2.752083,490.225018,1.560282,487.250588,1.762796
22,Lithuania,NaN,NaN,NaN,NaN,487.956698,2.756917,491.409791,2.929546,495.700088,2.554495,475.408946,2.652676,482.067013,1.629237
23,Luxembourg,NaN,NaN,NaN,NaN,486.324363,1.054260,483.928421,1.230944,491.215176,1.304785,482.806384,1.120987,476.769406,1.220843
24,Mexico,NaN,NaN,NaN,NaN,409.651952,2.714533,415.908672,1.787947,414.920148,1.305445,415.709883,2.130491,419.204719,2.584009
25,Netherlands,NaN,NaN,NaN,NaN,524.861506,2.741643,522.218128,5.418859,522.055823,3.508163,508.574806,2.257396,503.383819,2.840622
26,New Zealand,NaN,NaN,NaN,NaN,530.384361,2.692904,532.006901,2.578755,515.636319,2.144424,513.303512,2.384248,508.490721,2.104634
27,Norway,NaN,NaN,NaN,NaN,486.527957,3.111378,499.875700,2.600342,494.523935,3.087278,498.481109,2.262386,490.413149,2.282508
28,Poland,NaN,NaN,NaN,NaN,497.806502,2.342462,508.068297,2.413254,525.816447,3.123468,501.435332,2.507452,511.035562,2.607236
29,Portugal,NaN,NaN,NaN,NaN,474.305889,3.023314,492.949967,2.897723,489.274733,3.746720,501.100062,2.430820,491.677328,2.773163
30,Slovak Republic,NaN,NaN,NaN,NaN,488.433399,2.585365,490.265922,2.985986,471.193178,3.608221,460.774856,2.593678,464.047578,2.278188
31,Slovenia,NaN,NaN,NaN,NaN,518.815610,1.111121,511.759473,1.149193,514.142556,1.286206,512.863579,1.324367,507.006546,1.250420
32,Spain,NaN,NaN,NaN,NaN,488.424523,2.565414,488.254630,2.052464,496.445824,1.828575,492.786136,2.065474,483.252043,1.552853
33,Sweden,NaN,NaN,NaN,NaN,503.334006,2.374807,495.105898,2.720589,484.798967,3.002190,493.422356,3.600721,499.444690,3.069711
34,Switzerland,NaN,NaN,NaN,NaN,511.523909,3.162319,516.567510,2.816659,515.297524,2.713830,505.505816,2.900272,495.276288,3.004997
35,Turkey,NaN,NaN,NaN,NaN,423.832745,3.839061,453.909718,3.596687,463.412910,3.894141,425.489509,3.933901,468.299618,2.013049
36,United Kingdom,NaN,NaN,NaN,NaN,514.773548,2.289011,513.710240,2.518357,514.129322,3.381750,509.221503,2.564396,504.667474,2.564415
37,United States,NaN,NaN,NaN,NaN,488.906837,4.224189,502.002265,3.644226,497.409812,3.775886,496.242434,3.181201,502.380032,3.317920

In [42]:
sci['rank_2000'] = sci['avg_2000'].rank(method='max')
sci['rank_2003'] = sci['avg_2003'].rank(method='max')
sci['rank_2006'] = sci['avg_2006'].rank(method='max')
sci['rank_2009'] = sci['avg_2009'].rank(method='max')
sci['rank_2012'] = sci['avg_2012'].rank(method='max')
sci['rank_2015'] = sci['avg_2015'].rank(method='max')
sci['rank_2018'] = sci['avg_2018'].rank(method='max')
sci

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,...,se_2015,avg_2018,se_2018,rank_2000,rank_2003,rank_2006,rank_2009,rank_2012,rank_2015,rank_2018
0,International Average (OECD),NaN,NaN,NaN,NaN,494.804917,0.484689,497.722564,0.478332,498.253742,...,0.416671,488.662377,0.402306,NaN,NaN,17.0,17.0,18.0,14.0,15.0
1,Australia,NaN,NaN,NaN,NaN,526.879589,2.260280,527.270534,2.531131,521.494747,...,1.535311,502.964563,1.795398,NaN,NaN,33.0,32.0,29.0,31.0,27.0
2,Austria,NaN,NaN,NaN,NaN,510.837155,3.924941,494.327673,3.242150,505.781248,...,2.439345,489.780439,2.777395,NaN,NaN,25.0,14.0,23.0,19.0,16.0
3,Belgium,NaN,NaN,NaN,NaN,510.363484,2.484698,506.575526,2.522207,504.867654,...,2.289589,498.773127,2.229240,NaN,NaN,24.0,24.0,22.0,25.0,24.0
4,Canada,NaN,NaN,NaN,NaN,534.469777,2.031759,528.704953,1.621340,525.441293,...,2.080262,517.997661,2.153651,NaN,NaN,37.0,34.0,33.0,35.0,34.0
5,Chile,NaN,NaN,NaN,NaN,438.177445,4.317691,447.467360,2.922763,444.933921,...,2.379287,443.582563,2.415280,NaN,NaN,4.0,3.0,3.0,4.0,3.0
6,Colombia,NaN,NaN,NaN,NaN,388.038272,3.374938,401.750115,3.634409,398.678632,...,2.361078,413.322993,3.052402,NaN,NaN,1.0,1.0,1.0,2.0,1.0
7,Czech Republic,NaN,NaN,NaN,NaN,512.860746,3.478430,500.497066,2.974225,508.299081,...,2.267697,496.791311,2.546069,NaN,NaN,27.0,21.0,24.0,16.0,23.0
8,Denmark,NaN,NaN,NaN,NaN,495.894310,3.108693,499.336975,2.482266,498.474203,...,2.375478,492.637033,1.937604,NaN,NaN,19.0,19.0,19.0,24.0,19.0
9,Estonia,NaN,NaN,NaN,NaN,531.391804,2.522965,527.831756,2.668582,541.404758,...,2.094807,530.108005,1.884569,NaN,NaN,36.0,33.0,36.0,37.0,38.0
10,Finland,NaN,NaN,NaN,NaN,563.322835,2.018486,554.079510,2.335801,545.441941,...,2.392369,521.884563,2.509515,NaN,NaN,38.0,38.0,37.0,36.0,36.0
11,France,NaN,NaN,NaN,NaN,495.219839,3.360265,498.226894,3.601372,498.970895,...,2.060727,492.977074,2.223662,NaN,NaN,18.0,18.0,20.0,18.0,20.0
12,Germany,NaN,NaN,NaN,NaN,515.649130,3.795617,520.405350,2.798683,524.120800,...,2.698819,502.988903,2.911501,NaN,NaN,29.0,30.0,32.0,29.0,28.0
13,Greece,NaN,NaN,NaN,NaN,473.377964,3.230921,470.115764,4.038838,466.722030,...,3.917317,451.632742,3.139630,NaN,NaN,6.0,6.0,5.0,5.0,4.0
14,Hungary,NaN,NaN,NaN,NaN,503.931729,2.675972,502.642748,3.142282,494.302352,...,2.421464,480.911694,2.329977,NaN,NaN,22.0,23.0,13.0,10.0,11.0
15,Iceland,NaN,NaN,NaN,NaN,490.793774,1.637478,495.598499,1.411047,478.154597,...,1.680925,475.024106,1.795502,NaN,NaN,16.0,16.0,8.0,8.0,9.0
16,Ireland,NaN,NaN,NaN,NaN,508.328930,3.186063,507.984154,3.267061,522.003960,...,2.386027,496.113562,2.214146,NaN,NaN,23.0,25.0,30.0,26.0,22.0
17,Israel,NaN,NaN,NaN,NaN,453.903708,3.706954,454.850963,3.112451,470.072663,...,3.437554,462.196633,3.618388,NaN,NaN,5.0,5.0,6.0,7.0,5.0
18,Italy,NaN,NaN,NaN,NaN,475.397221,2.019322,488.831363,1.772960,493.541483,...,2.515953,468.011727,2.429562,NaN,NaN,8.0,9.0,12.0,11.0,7.0
19,Japan,NaN,NaN,NaN,NaN,531.388509,3.374334,539.430993,3.412644,546.735601,...,2.966179,529.135433,2.593168,NaN,NaN,35.0,37.0,38.0,38.0,37.0
20,Korea,NaN,NaN,NaN,NaN,522.148141,3.357592,537.986230,3.438713,537.787623,...,3.131842,519.007255,2.802762,NaN,NaN,31.0,36.0,35.0,34.0,35.0
21,Latvia,NaN,NaN,NaN,NaN,489.543778,2.971692,493.878924,3.065201,502.186194,...,1.560282,487.250588,1.762796,NaN,NaN,15.0,13.0,21.0,13.0,14.0
22,Lithuania,NaN,NaN,NaN,NaN,487.956698,2.756917,491.409791,2.929546,495.700088,...,2.652676,482.067013,1.629237,NaN,NaN,11.0,11.0,15.0,9.0,12.0
23,Luxembourg,NaN,NaN,NaN,NaN,486.324363,1.054260,483.928421,1.230944,491.215176,...,1.120987,476.769406,1.220843,NaN,NaN,9.0,7.0,11.0,12.0,10.0
24,Mexico,NaN,NaN,NaN,NaN,409.651952,2.714533,415.908672,1.787947,414.920148,...,2.130491,419.204719,2.584009,NaN,NaN,2.0,2.0,2.0,1.0,2.0
25,Netherlands,NaN,NaN,NaN,NaN,524.861506,2.741643,522.218128,5.418859,522.055823,...,2.257396,503.383819,2.840622,NaN,NaN,32.0,31.0,31.0,28.0,29.0
26,New Zealand,NaN,NaN,NaN,NaN,530.384361,2.692904,532.006901,2.578755,515.636319,...,2.384248,508.490721,2.104634,NaN,NaN,34.0,35.0,28.0,33.0,32.0
27,Norway,NaN,NaN,NaN,NaN,486.527957,3.111378,499.875700,2.600342,494.523935,...,2.262386,490.413149,2.282508,NaN,NaN,10.0,20.0,14.0,21.0,17.0
28,Poland,NaN,NaN,NaN,NaN,497.806502,2.342462,508.068297,2.413254,525.816447,...,2.507452,511.035562,2.607236,NaN,NaN,20.0,26.0,34.0,23.0,33.0
29,Portugal,NaN,NaN,NaN,NaN,474.305889,3.023314,492.949967,2.897723,489.274733,...,2.430820,491.677328,2.773163,NaN,NaN,7.0,12.0,10.0,22.0,18.0
30,Slovak Republic,NaN,NaN,NaN,NaN,488.433399,2.585365,490.265922,2.985986,471.193178,...,2.593678,464.047578,2.278188,NaN,NaN,13.0,10.0,7.0,6.0,6.0
31,Slovenia,NaN,NaN,NaN,NaN,518.815610,1.111121,511.759473,1.149193,514.142556,...,1.324367,507.006546,1.250420,NaN,NaN,30.0,27.0,26.0,32.0,31.0
32,Spain,NaN,NaN,NaN,NaN,488.424523,2.565414,488.254630,2.052464,496.445824,...,2.065474,483.252043,1.552853,NaN,NaN,12.0,8.0,16.0,15.0,13.0
33,Sweden,NaN,NaN,NaN,NaN,503.334006,2.374807,495.105898,2.720589,484.798967,...,3.600721,499.444690,3.069711,NaN,NaN,21.0,15.0,9.0,17.0,25.0
34,Switzerland,NaN,NaN,NaN,NaN,511.523909,3.162319,516.567510,2.816659,515.297524,...,2.900272,495.276288,3.004997,NaN,NaN,26.0,29.0,27.0,27.0,21.0
35,Turkey,NaN,NaN,NaN,NaN,423.832745,3.839061,453.909718,3.596687,463.412910,...,3.933901,468.299618,2.013049,NaN,NaN,3.0,4.0,4.0,3.0,8.0
36,United Kingdom,NaN,NaN,NaN,NaN,514.773548,2.289011,513.710240,2.518357,514.129322,...,2.564396,504.667474,2.564415,NaN,NaN,28.0,28.0,25.0,30.0,30.0
37,United States,NaN,NaN,NaN,NaN,488.906837,4.224189,502.002265,3.644226,497.409812,...,3.181201,502.380032,3.317920,NaN,NaN,14.0,22.0,17.0,20.0,26.0

In [43]:
from openpyxl import load_workbook

ExcelWorkbook = load_workbook('../data/Trends.xlsx')

writer = pd.ExcelWriter('../data/Trends.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

math.to_excel(writer, sheet_name = 'Math')
sci.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()

/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_82639/1887806248.py:7: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = ExcelWorkbook
/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_82639/1887806248.py:11: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [48]:
#readings_avg = readings[['Countries','avg_2000','avg_2003','avg_2006', 'avg_2009','avg_2012','avg_2015','avg_2018','rank_2000','rank_2003','rank_2006','rank_2009','rank_2012','rank_2015','rank_2018']]
#readings_avg
readings_avg = readings[['Countries','avg_2000','avg_2003','avg_2006', 'avg_2009','avg_2012','avg_2015','avg_2018']]
readings_avg

,Countries,avg_2000,avg_2003,avg_2006,avg_2009,avg_2012,avg_2015,avg_2018
1,International Average (OECD),493.490987,494.085966,485.353605,490.343792,493.206974,490.176312,487.125995
2,Australia,528.278505,525.427007,512.893292,514.900655,511.803998,502.900560,502.631724
3,Austria,492.056007,490.693240,490.193977,470.283632,489.609335,484.865597,484.392568
4,Belgium,507.125890,506.987332,500.900595,505.945796,508.617877,498.524189,492.864439
5,Canada,534.312719,527.913612,527.011296,524.241833,523.124003,526.667805,520.085521
6,Chile,409.556782,NaN,442.091346,449.369607,441.398164,458.570876,452.272554
7,Colombia,NaN,NaN,385.308038,413.181499,403.402534,424.905167,412.295085
8,Czech Republic,491.577032,488.542284,482.715162,478.186720,492.889738,487.250141,490.218815
9,Denmark,496.870966,492.323380,494.482981,494.916162,496.130881,499.814584,501.129934
10,Estonia,NaN,NaN,500.749762,500.961865,516.294184,519.142855,523.017018
11,Finland,546.469145,543.462543,546.868281,535.877985,524.021670,526.424747,520.078748
12,France,504.742389,496.188785,487.706247,495.616541,505.481483,499.306142,492.606479
13,Germany,483.990824,491.357999,494.944418,497.305058,507.676530,509.104139,498.279257
14,Greece,473.798851,472.266877,459.711185,482.776242,477.197177,467.039538,457.414395
15,Hungary,479.966778,481.869695,482.374517,494.178753,488.461334,469.523258,475.986672
16,Iceland,506.930462,491.746960,484.445272,500.283319,482.522440,481.525541,473.974317
17,Ireland,526.668649,515.480077,517.313238,495.639109,523.173210,520.814841,518.078459
18,Israel,452.172404,NaN,438.672275,473.989951,485.803213,478.960643,470.415178
19,Italy,487.469645,475.661581,468.523109,486.051099,489.754403,484.757996,476.284679
20,Japan,522.234929,498.105206,497.957069,519.857722,538.051485,515.958480,503.856041
21,Korea,524.754299,534.091265,556.021910,539.267484,535.790490,517.436710,514.052288
22,Latvia,458.071082,490.562534,479.491835,483.960145,488.694414,487.758099,478.698674
23,Lithuania,NaN,NaN,470.070756,468.442734,477.306612,472.406552,475.873480
24,Luxembourg,441.245823,479.422584,479.366542,472.173387,487.807043,481.439097,469.985389
25,Mexico,421.960630,399.721928,410.496455,425.265299,423.553762,423.276479,420.468892
26,Netherlands,NaN,513.118971,506.746971,508.403723,511.229965,502.959051,484.783725
27,New Zealand,528.799732,521.551510,521.032645,520.880009,512.186793,509.270713,505.727283
28,Norway,505.280989,499.740234,484.292563,503.230020,503.936686,513.191173,499.450956
29,Poland,479.121688,496.605266,507.639527,500.478483,518.186881,505.697070,511.855695
30,Portugal,470.154622,477.568646,472.304305,489.334924,487.757687,498.128906,491.800785
31,Slovak Republic,NaN,469.159033,466.349769,477.443352,462.767033,452.514337,457.983967
32,Slovenia,NaN,NaN,494.409037,483.082042,481.316284,505.215881,495.345615
33,Spain,492.552969,480.537991,460.830112,481.042326,487.939182,495.576435,NaN
34,Sweden,516.331186,514.267413,507.312880,497.449423,483.335006,500.155607,505.785220
35,Switzerland,494.371619,499.121399,499.277784,500.500212,509.040250,492.198229,483.929405
36,Turkey,NaN,440.970989,447.141132,464.194375,475.491466,428.335093,465.631666
37,United Kingdom,523.443304,507.012749,495.083510,494.182010,499.323115,497.971931,503.928109
38,United States,504.419692,495.185865,NaN,499.826821,497.581718,496.935097,505.352771

In [49]:
readings_avg = readings_avg.rename(columns={'avg_2000': '2000', 'avg_2003': '2003','avg_2006': '2006','avg_2009': '2009','avg_2012': '2012','avg_2015': '2015','avg_2018': '2018'})
readings_avg

,Countries,2000,2003,2006,2009,2012,2015,2018
1,International Average (OECD),493.490987,494.085966,485.353605,490.343792,493.206974,490.176312,487.125995
2,Australia,528.278505,525.427007,512.893292,514.900655,511.803998,502.900560,502.631724
3,Austria,492.056007,490.693240,490.193977,470.283632,489.609335,484.865597,484.392568
4,Belgium,507.125890,506.987332,500.900595,505.945796,508.617877,498.524189,492.864439
5,Canada,534.312719,527.913612,527.011296,524.241833,523.124003,526.667805,520.085521
6,Chile,409.556782,NaN,442.091346,449.369607,441.398164,458.570876,452.272554
7,Colombia,NaN,NaN,385.308038,413.181499,403.402534,424.905167,412.295085
8,Czech Republic,491.577032,488.542284,482.715162,478.186720,492.889738,487.250141,490.218815
9,Denmark,496.870966,492.323380,494.482981,494.916162,496.130881,499.814584,501.129934
10,Estonia,NaN,NaN,500.749762,500.961865,516.294184,519.142855,523.017018
11,Finland,546.469145,543.462543,546.868281,535.877985,524.021670,526.424747,520.078748
12,France,504.742389,496.188785,487.706247,495.616541,505.481483,499.306142,492.606479
13,Germany,483.990824,491.357999,494.944418,497.305058,507.676530,509.104139,498.279257
14,Greece,473.798851,472.266877,459.711185,482.776242,477.197177,467.039538,457.414395
15,Hungary,479.966778,481.869695,482.374517,494.178753,488.461334,469.523258,475.986672
16,Iceland,506.930462,491.746960,484.445272,500.283319,482.522440,481.525541,473.974317
17,Ireland,526.668649,515.480077,517.313238,495.639109,523.173210,520.814841,518.078459
18,Israel,452.172404,NaN,438.672275,473.989951,485.803213,478.960643,470.415178
19,Italy,487.469645,475.661581,468.523109,486.051099,489.754403,484.757996,476.284679
20,Japan,522.234929,498.105206,497.957069,519.857722,538.051485,515.958480,503.856041
21,Korea,524.754299,534.091265,556.021910,539.267484,535.790490,517.436710,514.052288
22,Latvia,458.071082,490.562534,479.491835,483.960145,488.694414,487.758099,478.698674
23,Lithuania,NaN,NaN,470.070756,468.442734,477.306612,472.406552,475.873480
24,Luxembourg,441.245823,479.422584,479.366542,472.173387,487.807043,481.439097,469.985389
25,Mexico,421.960630,399.721928,410.496455,425.265299,423.553762,423.276479,420.468892
26,Netherlands,NaN,513.118971,506.746971,508.403723,511.229965,502.959051,484.783725
27,New Zealand,528.799732,521.551510,521.032645,520.880009,512.186793,509.270713,505.727283
28,Norway,505.280989,499.740234,484.292563,503.230020,503.936686,513.191173,499.450956
29,Poland,479.121688,496.605266,507.639527,500.478483,518.186881,505.697070,511.855695
30,Portugal,470.154622,477.568646,472.304305,489.334924,487.757687,498.128906,491.800785
31,Slovak Republic,NaN,469.159033,466.349769,477.443352,462.767033,452.514337,457.983967
32,Slovenia,NaN,NaN,494.409037,483.082042,481.316284,505.215881,495.345615
33,Spain,492.552969,480.537991,460.830112,481.042326,487.939182,495.576435,NaN
34,Sweden,516.331186,514.267413,507.312880,497.449423,483.335006,500.155607,505.785220
35,Switzerland,494.371619,499.121399,499.277784,500.500212,509.040250,492.198229,483.929405
36,Turkey,NaN,440.970989,447.141132,464.194375,475.491466,428.335093,465.631666
37,United Kingdom,523.443304,507.012749,495.083510,494.182010,499.323115,497.971931,503.928109
38,United States,504.419692,495.185865,NaN,499.826821,497.581718,496.935097,505.352771

In [50]:
readings_avg2 = pd.melt(readings_avg, id_vars=['Countries'], value_vars=['2000','2003','2006', '2009','2012','2015','2018'],   var_name='Year', value_name='avg', ignore_index=False)
readings_avg2

                       Countries  Year         avg
1   International Average (OECD)  2000  493.490987
2                      Australia  2000  528.278505
3                        Austria  2000  492.056007
4                        Belgium  2000  507.125890
5                         Canada  2000  534.312719
..                           ...   ...         ...
34                        Sweden  2018  505.785220
35                   Switzerland  2018  483.929405
36                        Turkey  2018  465.631666
37                United Kingdom  2018  503.928109
38                 United States  2018  505.352771

[266 rows x 3 columns]

In [58]:
import altair as alt
alt.data_transformers.enable('default',max_rows=None)

DataTransformerRegistry.enable('default')

In [61]:
import plotly.graph_objects as go
import plotly.express as px

In [64]:
con2 = readings_avg2['Countries'].unique().tolist()
cat2  = readings_avg2['Year'].unique().tolist()

fig = go.Figure()

data2 = []

for i in con2:

    fig.add_trace(  # Add A trace to the figure
            go.Scatter(  # Specify the type of the trace
                x=readings_avg2.loc[readings_avg2['Countries'] == i]['Year'].tolist(),  # Data-x
                y=readings_avg2.loc[readings_avg2['Countries'] == i]['avg'].tolist(),  # Data-y
                mode="lines+markers",
                # note the re-normalization of population to map to width to units of "pixels"
                marker=dict(
                    color=readings_avg2.loc[readings_avg2['Countries'] == i]['avg'].tolist(),
                    showscale=True,
                    colorscale="Viridis",
                    symbol="circle",
                ),
                opacity=1.0,
                visible=False,  # Specify whether or not to make data-visible when rendered
            )
        )
    


#visual = [False]*len(con)
bton2 = []

for j in range(0, len(con2)):
    visual2 = [False]*len(con2)
    visual2[j] = True
    #print(visual)

    bton2.append(
        dict(label=con2[j],
                     method="update",
                     args=[{"visible": visual2},
                           {"title": f"reading test score average for {con2[j]}"}])
    )

fig.update_layout(
    updatemenus=[
        dict(
            active=0,
            buttons=list(bton2),
        )
    ])
  
fig.show()
fig.write_html("reading_trend.html")